/*
### base
This is the base for all our styles. In here we define:

2. font sizes
3. box-sizing *NOTE:* box-sizing http://www.paulirish.com/2012/box-sizing-border-box-ftw/
4. site wide classes
*/


html {
  box-sizing: border-box;
  /* Change 1 rem to mean 10px in a standard browser */
  font-size: 62.5%;
  
  *zoom: 1;
  
  max-width: 1920px;
  
  max-width: 192rem;
  
  margin-left: auto;
  
  margin-right: auto;
}


html:before {/* Change 1 rem to mean 10px in a standard browser */
  content: '';
  display: table;
}


html:after {/* Change 1 rem to mean 10px in a standard browser */
  content: '';
  display: table;
  clear: both;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 1vw; /* scaling */
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 1.625vw; /* 16/10 */
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-size: 16px;
  font-size: 1.6rem;

  background-color: hsla(0, 0%, 0%, 1);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:700); /* logo font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic);

* { font-family: "Roboto"; }

a {
  color: hsla(1, 73.7%, 38.8%, 1);
  text-decoration: none;
}

span {
  color: hsla(1, 73.7%, 38.8%, 1);
}

.f-page-wrapper {
  *zoom: 1;
  max-width: 984px;
  max-width: 98.4rem;
  margin-left: auto;
  margin-right: auto;
}

.f-page-wrapper:before {
  content: '';
  display: table;
}

.f-page-wrapper:after {
  content: '';
  display: table;
  clear: both;
}