/*
<style class="This is grid DEMO styling">
	.demo {
		padding: 1rem;
		border: 1px dashed hsla(240, 100%, 50%, 1);

		color: white;
		font-size: 2rem;
		text-align: center;
		text-transform: uppercase;

		background-color: hsla(240, 100%, 25%, .8);
	}
</style>

## The grid

Our grid system consist of *rows* and *cells*. See <a href="grid.html">this test page</a> for a full
demo: http://localhost:8080/grid.html
TODO: write explanatory text here @troldmand @magiker420

You can run `node generate_grid.js`, located in the root of this repository, to generate the grid and create
new grid systems by calling the grid function with different cell numbers. E.g. `grid(8)`.

<pre>
BLOCK f-row											- establish a row
MODIFIER f-row_debug						- show the outline of your cells
MODIFIER f-row_not-desktop			- hide the row on desktop sizes
MODIFIER f-row_6								- modify row to be a 6 cell row
	ELEMENT f-row__cell						- a full row width cell
	ELEMENT f-row__cell-1					- a 1/6 width cell
	ELEMENT f-row__cell-2					- a 2/6 width cell
	ELEMENT f-row__cell-3					- a 3/6 width cell
	ELEMENT f-row__cell-4					- a 4/6 width cell
	ELEMENT f-row__not-desktop		- hide the cell on desktop sizes
	MODIFIER f-row__cell_push_1		- modify the cell indentation
	MODIFIER f-row__cell_push_2		- modify the cell indentation
	MODIFIER f-row__cell_push_3		- modify the cell indentation
	MODIFIER f-row__cell_push_4		- modify the cell indentation
	MODIFIER f-row__cell_push_5		- modify the cell indentation
MODIFIER f-row_12								- modify row to be a 12 cell row
	ELEMENT f-row__cell						- a full row width cell
	ELEMENT f-row__cell-1					- a 1/12 width cell
	ELEMENT f-row__cell-2					- a 2/12 width cell
	ELEMENT f-row__cell-3					- a 3/12 width cell
	ELEMENT f-row__cell-4					- a 4/12 width cell
	ELEMENT f-row__cell-5					- a 5/12 width cell
	ELEMENT f-row__cell-6					- a 6/12 width cell
	ELEMENT f-row__cell-7					- a 7/12 width cell
	ELEMENT f-row__cell-8					- a 8/12 width cell
	ELEMENT f-row__cell-9					- a 9/12 width cell
	ELEMENT f-row__cell-10				- a 10/12 width cell
	ELEMENT f-row__cell-11				- a 11/12 width cell
	MODIFIER f-row__cell_push_1		- modify the cell indentation
	MODIFIER f-row__cell_push_2		- modify the cell indentation
	MODIFIER f-row__cell_push_3		- modify the cell indentation
	MODIFIER f-row__cell_push_4		- modify the cell indentation
	MODIFIER f-row__cell_push_5		- modify the cell indentation
	MODIFIER f-row__cell_push_6		- modify the cell indentation
	MODIFIER f-row__cell_push_7		- modify the cell indentation
	MODIFIER f-row__cell_push_8		- modify the cell indentation
	MODIFIER f-row__cell_push_9		- modify the cell indentation
	MODIFIER f-row__cell_push_10	- modify the cell indentation
	MODIFIER f-row__cell_push_11	- modify the cell indentation
MODIFIER f-row_24								- modify row to be a 24 cell row
	ELEMENT f-row__cell						- a full row width cell
	ELEMENT f-row__cell-1					- a 1/24 width cell
	ELEMENT f-row__cell-2					- a 2/24 width cell
	ELEMENT f-row__cell-3					- a 3/24 width cell
	ELEMENT f-row__cell-4					- a 4/24 width cell
	ELEMENT f-row__cell-5					- a 5/24 width cell
	ELEMENT f-row__cell-6					- a 6/24 width cell
	ELEMENT f-row__cell-7					- a 7/24 width cell
	ELEMENT f-row__cell-8					- a 8/24 width cell
	ELEMENT f-row__cell-9					- a 9/24 width cell
	ELEMENT f-row__cell-10				- a 10/24 width cell
	ELEMENT f-row__cell-11				- a 11/24 width cell
	ELEMENT f-row__cell-12				- a 12/24 width cell
	ELEMENT f-row__cell-13				- a 13/24 width cell
	ELEMENT f-row__cell-14				- a 14/24 width cell
	ELEMENT f-row__cell-15				- a 15/24 width cell
	ELEMENT f-row__cell-16				- a 16/24 width cell
	ELEMENT f-row__cell-17				- a 17/24 width cell
	ELEMENT f-row__cell-18				- a 18/24 width cell
	ELEMENT f-row__cell-19				- a 19/24 width cell
	ELEMENT f-row__cell-20				- a 20/24 width cell
	ELEMENT f-row__cell-21				- a 21/24 width cell
	ELEMENT f-row__cell-22				- a 22/24 width cell
	ELEMENT f-row__cell__23				- a 23/24 width cell
	MODIFIER f-row__cell_push_1		- modify the cell indentation
	MODIFIER f-row__cell_push_2		- modify the cell indentation
	MODIFIER f-row__cell_push_3		- modify the cell indentation
	MODIFIER f-row__cell_push_4		- modify the cell indentation
	MODIFIER f-row__cell_push_5		- modify the cell indentation
	MODIFIER f-row__cell_push_6		- modify the cell indentation
	MODIFIER f-row__cell_push_7		- modify the cell indentation
	MODIFIER f-row__cell_push_8		- modify the cell indentation
	MODIFIER f-row__cell_push_9		- modify the cell indentation
	MODIFIER f-row__cell_push_10	- modify the cell indentation
	MODIFIER f-row__cell_push_11	- modify the cell indentation
	MODIFIER f-row__cell_push_12	- modify the cell indentation
	MODIFIER f-row__cell_push_13	- modify the cell indentation
	MODIFIER f-row__cell_push_14	- modify the cell indentation
	MODIFIER f-row__cell_push_15	- modify the cell indentation
	MODIFIER f-row__cell_push_16	- modify the cell indentation
	MODIFIER f-row__cell_push_17	- modify the cell indentation
	MODIFIER f-row__cell_push_18	- modify the cell indentation
	MODIFIER f-row__cell_push_19	- modify the cell indentation
	MODIFIER f-row__cell_push_20	- modify the cell indentation
	MODIFIER f-row__cell_push_21	- modify the cell indentation
	MODIFIER f-row__cell_push_22	- modify the cell indentation
	MODIFIER f-row__cell_push_23	- modify the cell indentation
</pre>


## 6 row with 2 cells
In mobile width, every cell is staked.
```
<section class="f-row f-row_6">
	<div class="f-row__cell-3 f-row__cell-mobile">
		<div class="demo">1</div>
	</div>
	<div class="f-row__cell-3 f-row_not-mobile">
		<div class="demo">2</div>
	</div>
</section>
```

## 6 row with 3 cells
```
<section class="f-row f-row_6">
	<div class="f-row__cell-1">
		<div class="demo">1</div>
	</div>
	<div class="f-row__cell-2">
		<div class="demo">2</div>
	</div>
	<div class="f-row__cell-3">
		<div class="demo">3</div>
	</div>
</section>
```

## 6 row with 2 cells in desktop and another cell in mobile
```
<section class="f-row f-row_6">
	<div class="f-row__not-desktop f-row__cell-mobile-2">
		<div class="demo">mobile</div>
	</div>
	<div class="f-row__cell-4 f-row__cell-mobile-2">
		<div class="demo">1</div>
	</div>
	<div class="f-row__cell-2">
		<div class="demo">2</div>
	</div>
</section>
```

/*
 ## Mobile
Some of the classes are already documented but here is a recap in a
mobile context.
<pre>
BLOCK f-row																	- establish a row
MODIFIER f-row_debug												- show the outline of your cells
MODIFIER f-row_not-mobile										- hide the row on mobile sizes
MODIFIER f-row_6														- modify row to be a 6 cell row
	ELEMENT f-row__cell-mobile								- a full row width cell
	ELEMENT f-row__cell-mobile-1							- a 1/6 width cell
	ELEMENT f-row__cell-mobile-2							- a 2/6 width cell
	ELEMENT f-row__cell-mobile-3							- a 3/6 width cell
	ELEMENT f-row__cell-mobile-4							- a 4/6 width cell
	ELEMENT f-row__cell-mobile-5							- a 5/6 width cell
	ELEMENT f-row__not-mobile									- hide the cell on mobile sizes
	MODIFIER f-row__cell-mobile_push_1				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_2				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_3				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_4				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_5				- modify the cell indentation
MODIFIER f-row_12														- modify row to be a 12 cell row
	ELEMENT f-row__-mobile										- a full row width cell
	ELEMENT f-row__cell-mobile-1							- a 1/12 width cell
	ELEMENT f-row__cell-mobile-2							- a 2/12 width cell
	ELEMENT f-row__cell-mobile-3							- a 3/12 width cell
	ELEMENT f-row__cell-mobile-4							- a 4/12 width cell
	ELEMENT f-row__cell-mobile-5							- a 5/12 width cell
	ELEMENT f-row__cell-mobile-6							- a 6/12 width cell
	ELEMENT f-row__cell-mobile-7							- a 7/12 width cell
	ELEMENT f-row__cell-mobile-8							- a 8/12 width cell
	ELEMENT f-row__cell-mobile-9							- a 9/12 width cell
	ELEMENT f-row__cell-mobile-10							- a 10/12 width cell
	ELEMENT f-row__cell-mobile-11							- a 11/12 width cell
	MODIFIER f-row__cell-mobile_push_1				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_2				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_3				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_4				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_5				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_6				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_7				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_8				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_9				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_10				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_11				- modify the cell indentation
MODIFIER f-row_24														- modify row to be a 24 cell row
	ELEMENT f-row__cell-mobile								- a full row width cell
	ELEMENT f-row__cell-mobile-1							- a 1/24 width cell
	ELEMENT f-row__cell-mobile-2							- a 2/24 width cell
	ELEMENT f-row__cell-mobile-3							- a 3/24 width cell
	ELEMENT f-row__cell-mobile-4							- a 4/24 width cell
	ELEMENT f-row__cell-mobile-5							- a 5/24 width cell
	ELEMENT f-row__cell-mobile-6							- a 6/24 width cell
	ELEMENT f-row__cell-mobile-7							- a 7/24 width cell
	ELEMENT f-row__cell-mobile-8							- a 8/24 width cell
	ELEMENT f-row__cell-mobile-9							- a 9/24 width cell
	ELEMENT f-row__cell-mobile-10							- a 10/24 width cell
	ELEMENT f-row__cell-mobile-11							- a 11/24 width cell
	ELEMENT f-row__cell-mobile-12							- a 12/24 width cell
	ELEMENT f-row__cell-mobile-13							- a 13/24 width cell
	ELEMENT f-row__cell-mobile-14							- a 14/24 width cell
	ELEMENT f-row__cell-mobile-15							- a 15/24 width cell
	ELEMENT f-row__cell-mobile-16							- a 16/24 width cell
	ELEMENT f-row__cell-mobile-17							- a 17/24 width cell
	ELEMENT f-row__cell-mobile-18							- a 18/24 width cell
	ELEMENT f-row__cell-mobile-19							- a 19/24 width cell
	ELEMENT f-row__cell-mobile-20							- a 20/24 width cell
	ELEMENT f-row__cell-mobile-21							- a 21/24 width cell
	ELEMENT f-row__cell-mobile-22							- a 22/24 width cell
	ELEMENT f-row__cell-mobile-23							- a 23/24 width cell
	MODIFIER f-row__cell-mobile_push_1				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_2				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_3				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_4				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_5				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_6				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_7				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_8				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_9				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_10				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_11				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_12				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_13				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_14				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_15				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_16				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_17				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_18				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_19				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_20				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_21				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_22				- modify the cell indentation
	MODIFIER f-row__cell-mobile_push_23				- modify the cell indentation
</pre>
*/

/* --gutter-width variable doesn't work probably due to @lost gutter not being a proper css declaration block
@lost gutter var(--gutter-width, 3.4rem); */

.f-row {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.f-row::after {
	*zoom: 1;
}

.f-row::after:before {
	content: '';
	display: table;
}

.f-row::after:after {
	content: '';
	display: table;
	clear: both;
}

.f-row_debug, .f-row_debug > * {
	border: 1px dashed cyan;
}

.f-row__cell {
	flex: 0 0 auto;
	width: calc(99.99% * 1 - (3.4rem - 3.4rem * 1));
}

.f-row__cell:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row__cell:last-child {
	margin-right: 0;
}

.f-row__cell:nth-child(undefinedn) {
	float: right;
}

.f-row__cell:nth-child(undefinedn) {
	margin-right: 0;
}

@media screen and (min-width: 640px) {
	.f-row_not-desktop,
	.f-row__not-desktop {
		display: none;
	}
	.f-row_6 .f-row__cell_push_1 {
		margin-left: calc(99.99% * (-1/6 * -1) - (3.4rem - 3.4rem * (-1/6 * -1)) + 3.4rem) !important;
	}
	.f-row_6 .f-row__cell_push_2 {
		margin-left: calc(99.99% * (-2/6 * -1) - (3.4rem - 3.4rem * (-2/6 * -1)) + 3.4rem) !important;
	}
	.f-row_6 .f-row__cell_push_3 {
		margin-left: calc(99.99% * (-3/6 * -1) - (3.4rem - 3.4rem * (-3/6 * -1)) + 3.4rem) !important;
	}
	.f-row_6 .f-row__cell_push_4 {
		margin-left: calc(99.99% * (-4/6 * -1) - (3.4rem - 3.4rem * (-4/6 * -1)) + 3.4rem) !important;
	}
	.f-row_6 .f-row__cell_push_5 {
		margin-left: calc(99.99% * (-5/6 * -1) - (3.4rem - 3.4rem * (-5/6 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell_push_1 {
		margin-left: calc(99.99% * (-1/12 * -1) - (3.4rem - 3.4rem * (-1/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell_push_2 {
		margin-left: calc(99.99% * (-2/12 * -1) - (3.4rem - 3.4rem * (-2/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell_push_3 {
		margin-left: calc(99.99% * (-3/12 * -1) - (3.4rem - 3.4rem * (-3/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell_push_4 {
		margin-left: calc(99.99% * (-4/12 * -1) - (3.4rem - 3.4rem * (-4/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell_push_5 {
		margin-left: calc(99.99% * (-5/12 * -1) - (3.4rem - 3.4rem * (-5/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell_push_6 {
		margin-left: calc(99.99% * (-6/12 * -1) - (3.4rem - 3.4rem * (-6/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell_push_7 {
		margin-left: calc(99.99% * (-7/12 * -1) - (3.4rem - 3.4rem * (-7/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell_push_8 {
		margin-left: calc(99.99% * (-8/12 * -1) - (3.4rem - 3.4rem * (-8/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell_push_9 {
		margin-left: calc(99.99% * (-9/12 * -1) - (3.4rem - 3.4rem * (-9/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell_push_10 {
		margin-left: calc(99.99% * (-10/12 * -1) - (3.4rem - 3.4rem * (-10/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell_push_11 {
		margin-left: calc(99.99% * (-11/12 * -1) - (3.4rem - 3.4rem * (-11/12 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_1 {
		margin-left: calc(99.99% * (-1/24 * -1) - (3.4rem - 3.4rem * (-1/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_2 {
		margin-left: calc(99.99% * (-2/24 * -1) - (3.4rem - 3.4rem * (-2/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_3 {
		margin-left: calc(99.99% * (-3/24 * -1) - (3.4rem - 3.4rem * (-3/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_4 {
		margin-left: calc(99.99% * (-4/24 * -1) - (3.4rem - 3.4rem * (-4/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_5 {
		margin-left: calc(99.99% * (-5/24 * -1) - (3.4rem - 3.4rem * (-5/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_6 {
		margin-left: calc(99.99% * (-6/24 * -1) - (3.4rem - 3.4rem * (-6/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_7 {
		margin-left: calc(99.99% * (-7/24 * -1) - (3.4rem - 3.4rem * (-7/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_8 {
		margin-left: calc(99.99% * (-8/24 * -1) - (3.4rem - 3.4rem * (-8/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_9 {
		margin-left: calc(99.99% * (-9/24 * -1) - (3.4rem - 3.4rem * (-9/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_10 {
		margin-left: calc(99.99% * (-10/24 * -1) - (3.4rem - 3.4rem * (-10/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_11 {
		margin-left: calc(99.99% * (-11/24 * -1) - (3.4rem - 3.4rem * (-11/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_12 {
		margin-left: calc(99.99% * (-12/24 * -1) - (3.4rem - 3.4rem * (-12/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_13 {
		margin-left: calc(99.99% * (-13/24 * -1) - (3.4rem - 3.4rem * (-13/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_14 {
		margin-left: calc(99.99% * (-14/24 * -1) - (3.4rem - 3.4rem * (-14/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_15 {
		margin-left: calc(99.99% * (-15/24 * -1) - (3.4rem - 3.4rem * (-15/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_16 {
		margin-left: calc(99.99% * (-16/24 * -1) - (3.4rem - 3.4rem * (-16/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_17 {
		margin-left: calc(99.99% * (-17/24 * -1) - (3.4rem - 3.4rem * (-17/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_18 {
		margin-left: calc(99.99% * (-18/24 * -1) - (3.4rem - 3.4rem * (-18/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_19 {
		margin-left: calc(99.99% * (-19/24 * -1) - (3.4rem - 3.4rem * (-19/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_20 {
		margin-left: calc(99.99% * (-20/24 * -1) - (3.4rem - 3.4rem * (-20/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_21 {
		margin-left: calc(99.99% * (-21/24 * -1) - (3.4rem - 3.4rem * (-21/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_22 {
		margin-left: calc(99.99% * (-22/24 * -1) - (3.4rem - 3.4rem * (-22/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell_push_23 {
		margin-left: calc(99.99% * (-23/24 * -1) - (3.4rem - 3.4rem * (-23/24 * -1)) + 3.4rem) !important;
	}
}

.f-row_6 .f-row__cell-1 {
	flex: 0 0 auto;
	width: calc(99.99% * 1/6 - (3.4rem - 3.4rem * 1/6));
}

.f-row_6 .f-row__cell-1:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_6 .f-row__cell-1:last-child {
	margin-right: 0;
}

.f-row_6 .f-row__cell-1:nth-child(6n) {
	float: right;
}

.f-row_6 .f-row__cell-1:nth-child(6n) {
	margin-right: 0;
}

.f-row_6 .f-row__cell-2 {
	flex: 0 0 auto;
	width: calc(99.99% * 2/6 - (3.4rem - 3.4rem * 2/6));
}

.f-row_6 .f-row__cell-2:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_6 .f-row__cell-2:last-child {
	margin-right: 0;
}

.f-row_6 .f-row__cell-2:nth-child(6n) {
	float: right;
}

.f-row_6 .f-row__cell-2:nth-child(6n) {
	margin-right: 0;
}

.f-row_6 .f-row__cell-3 {
	flex: 0 0 auto;
	width: calc(99.99% * 3/6 - (3.4rem - 3.4rem * 3/6));
}

.f-row_6 .f-row__cell-3:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_6 .f-row__cell-3:last-child {
	margin-right: 0;
}

.f-row_6 .f-row__cell-3:nth-child(6n) {
	float: right;
}

.f-row_6 .f-row__cell-3:nth-child(6n) {
	margin-right: 0;
}

.f-row_6 .f-row__cell-4 {
	flex: 0 0 auto;
	width: calc(99.99% * 4/6 - (3.4rem - 3.4rem * 4/6));
}

.f-row_6 .f-row__cell-4:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_6 .f-row__cell-4:last-child {
	margin-right: 0;
}

.f-row_6 .f-row__cell-4:nth-child(6n) {
	float: right;
}

.f-row_6 .f-row__cell-4:nth-child(6n) {
	margin-right: 0;
}

.f-row_6 .f-row__cell-5 {
	flex: 0 0 auto;
	width: calc(99.99% * 5/6 - (3.4rem - 3.4rem * 5/6));
}

.f-row_6 .f-row__cell-5:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_6 .f-row__cell-5:last-child {
	margin-right: 0;
}

.f-row_6 .f-row__cell-5:nth-child(6n) {
	float: right;
}

.f-row_6 .f-row__cell-5:nth-child(6n) {
	margin-right: 0;
}

.f-row_12 .f-row__cell-1 {
	flex: 0 0 auto;
	width: calc(99.99% * 1/12 - (3.4rem - 3.4rem * 1/12));
}

.f-row_12 .f-row__cell-1:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_12 .f-row__cell-1:last-child {
	margin-right: 0;
}

.f-row_12 .f-row__cell-1:nth-child(12n) {
	float: right;
}

.f-row_12 .f-row__cell-1:nth-child(12n) {
	margin-right: 0;
}

.f-row_12 .f-row__cell-2 {
	flex: 0 0 auto;
	width: calc(99.99% * 2/12 - (3.4rem - 3.4rem * 2/12));
}

.f-row_12 .f-row__cell-2:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_12 .f-row__cell-2:last-child {
	margin-right: 0;
}

.f-row_12 .f-row__cell-2:nth-child(12n) {
	float: right;
}

.f-row_12 .f-row__cell-2:nth-child(12n) {
	margin-right: 0;
}

.f-row_12 .f-row__cell-3 {
	flex: 0 0 auto;
	width: calc(99.99% * 3/12 - (3.4rem - 3.4rem * 3/12));
}

.f-row_12 .f-row__cell-3:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_12 .f-row__cell-3:last-child {
	margin-right: 0;
}

.f-row_12 .f-row__cell-3:nth-child(12n) {
	float: right;
}

.f-row_12 .f-row__cell-3:nth-child(12n) {
	margin-right: 0;
}

.f-row_12 .f-row__cell-4 {
	flex: 0 0 auto;
	width: calc(99.99% * 4/12 - (3.4rem - 3.4rem * 4/12));
}

.f-row_12 .f-row__cell-4:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_12 .f-row__cell-4:last-child {
	margin-right: 0;
}

.f-row_12 .f-row__cell-4:nth-child(12n) {
	float: right;
}

.f-row_12 .f-row__cell-4:nth-child(12n) {
	margin-right: 0;
}

.f-row_12 .f-row__cell-5 {
	flex: 0 0 auto;
	width: calc(99.99% * 5/12 - (3.4rem - 3.4rem * 5/12));
}

.f-row_12 .f-row__cell-5:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_12 .f-row__cell-5:last-child {
	margin-right: 0;
}

.f-row_12 .f-row__cell-5:nth-child(12n) {
	float: right;
}

.f-row_12 .f-row__cell-5:nth-child(12n) {
	margin-right: 0;
}

.f-row_12 .f-row__cell-6 {
	flex: 0 0 auto;
	width: calc(99.99% * 6/12 - (3.4rem - 3.4rem * 6/12));
}

.f-row_12 .f-row__cell-6:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_12 .f-row__cell-6:last-child {
	margin-right: 0;
}

.f-row_12 .f-row__cell-6:nth-child(12n) {
	float: right;
}

.f-row_12 .f-row__cell-6:nth-child(12n) {
	margin-right: 0;
}

.f-row_12 .f-row__cell-7 {
	flex: 0 0 auto;
	width: calc(99.99% * 7/12 - (3.4rem - 3.4rem * 7/12));
}

.f-row_12 .f-row__cell-7:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_12 .f-row__cell-7:last-child {
	margin-right: 0;
}

.f-row_12 .f-row__cell-7:nth-child(12n) {
	float: right;
}

.f-row_12 .f-row__cell-7:nth-child(12n) {
	margin-right: 0;
}

.f-row_12 .f-row__cell-8 {
	flex: 0 0 auto;
	width: calc(99.99% * 8/12 - (3.4rem - 3.4rem * 8/12));
}

.f-row_12 .f-row__cell-8:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_12 .f-row__cell-8:last-child {
	margin-right: 0;
}

.f-row_12 .f-row__cell-8:nth-child(12n) {
	float: right;
}

.f-row_12 .f-row__cell-8:nth-child(12n) {
	margin-right: 0;
}

.f-row_12 .f-row__cell-9 {
	flex: 0 0 auto;
	width: calc(99.99% * 9/12 - (3.4rem - 3.4rem * 9/12));
}

.f-row_12 .f-row__cell-9:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_12 .f-row__cell-9:last-child {
	margin-right: 0;
}

.f-row_12 .f-row__cell-9:nth-child(12n) {
	float: right;
}

.f-row_12 .f-row__cell-9:nth-child(12n) {
	margin-right: 0;
}

.f-row_12 .f-row__cell-10 {
	flex: 0 0 auto;
	width: calc(99.99% * 10/12 - (3.4rem - 3.4rem * 10/12));
}

.f-row_12 .f-row__cell-10:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_12 .f-row__cell-10:last-child {
	margin-right: 0;
}

.f-row_12 .f-row__cell-10:nth-child(12n) {
	float: right;
}

.f-row_12 .f-row__cell-10:nth-child(12n) {
	margin-right: 0;
}

.f-row_12 .f-row__cell-11 {
	flex: 0 0 auto;
	width: calc(99.99% * 11/12 - (3.4rem - 3.4rem * 11/12));
}

.f-row_12 .f-row__cell-11:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_12 .f-row__cell-11:last-child {
	margin-right: 0;
}

.f-row_12 .f-row__cell-11:nth-child(12n) {
	float: right;
}

.f-row_12 .f-row__cell-11:nth-child(12n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-1 {
	flex: 0 0 auto;
	width: calc(99.99% * 1/24 - (3.4rem - 3.4rem * 1/24));
}

.f-row_24 .f-row__cell-1:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-1:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-1:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-1:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-2 {
	flex: 0 0 auto;
	width: calc(99.99% * 2/24 - (3.4rem - 3.4rem * 2/24));
}

.f-row_24 .f-row__cell-2:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-2:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-2:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-2:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-3 {
	flex: 0 0 auto;
	width: calc(99.99% * 3/24 - (3.4rem - 3.4rem * 3/24));
}

.f-row_24 .f-row__cell-3:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-3:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-3:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-3:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-4 {
	flex: 0 0 auto;
	width: calc(99.99% * 4/24 - (3.4rem - 3.4rem * 4/24));
}

.f-row_24 .f-row__cell-4:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-4:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-4:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-4:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-5 {
	flex: 0 0 auto;
	width: calc(99.99% * 5/24 - (3.4rem - 3.4rem * 5/24));
}

.f-row_24 .f-row__cell-5:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-5:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-5:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-5:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-6 {
	flex: 0 0 auto;
	width: calc(99.99% * 6/24 - (3.4rem - 3.4rem * 6/24));
}

.f-row_24 .f-row__cell-6:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-6:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-6:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-6:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-7 {
	flex: 0 0 auto;
	width: calc(99.99% * 7/24 - (3.4rem - 3.4rem * 7/24));
}

.f-row_24 .f-row__cell-7:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-7:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-7:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-7:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-8 {
	flex: 0 0 auto;
	width: calc(99.99% * 8/24 - (3.4rem - 3.4rem * 8/24));
}

.f-row_24 .f-row__cell-8:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-8:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-8:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-8:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-9 {
	flex: 0 0 auto;
	width: calc(99.99% * 9/24 - (3.4rem - 3.4rem * 9/24));
}

.f-row_24 .f-row__cell-9:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-9:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-9:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-9:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-10 {
	flex: 0 0 auto;
	width: calc(99.99% * 10/24 - (3.4rem - 3.4rem * 10/24));
}

.f-row_24 .f-row__cell-10:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-10:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-10:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-10:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-11 {
	flex: 0 0 auto;
	width: calc(99.99% * 11/24 - (3.4rem - 3.4rem * 11/24));
}

.f-row_24 .f-row__cell-11:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-11:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-11:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-11:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-12 {
	flex: 0 0 auto;
	width: calc(99.99% * 12/24 - (3.4rem - 3.4rem * 12/24));
}

.f-row_24 .f-row__cell-12:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-12:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-12:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-12:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-13 {
	flex: 0 0 auto;
	width: calc(99.99% * 13/24 - (3.4rem - 3.4rem * 13/24));
}

.f-row_24 .f-row__cell-13:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-13:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-13:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-13:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-14 {
	flex: 0 0 auto;
	width: calc(99.99% * 14/24 - (3.4rem - 3.4rem * 14/24));
}

.f-row_24 .f-row__cell-14:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-14:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-14:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-14:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-15 {
	flex: 0 0 auto;
	width: calc(99.99% * 15/24 - (3.4rem - 3.4rem * 15/24));
}

.f-row_24 .f-row__cell-15:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-15:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-15:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-15:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-16 {
	flex: 0 0 auto;
	width: calc(99.99% * 16/24 - (3.4rem - 3.4rem * 16/24));
}

.f-row_24 .f-row__cell-16:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-16:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-16:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-16:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-17 {
	flex: 0 0 auto;
	width: calc(99.99% * 17/24 - (3.4rem - 3.4rem * 17/24));
}

.f-row_24 .f-row__cell-17:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-17:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-17:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-17:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-18 {
	flex: 0 0 auto;
	width: calc(99.99% * 18/24 - (3.4rem - 3.4rem * 18/24));
}

.f-row_24 .f-row__cell-18:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-18:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-18:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-18:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-19 {
	flex: 0 0 auto;
	width: calc(99.99% * 19/24 - (3.4rem - 3.4rem * 19/24));
}

.f-row_24 .f-row__cell-19:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-19:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-19:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-19:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-20 {
	flex: 0 0 auto;
	width: calc(99.99% * 20/24 - (3.4rem - 3.4rem * 20/24));
}

.f-row_24 .f-row__cell-20:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-20:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-20:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-20:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-21 {
	flex: 0 0 auto;
	width: calc(99.99% * 21/24 - (3.4rem - 3.4rem * 21/24));
}

.f-row_24 .f-row__cell-21:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-21:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-21:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-21:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-22 {
	flex: 0 0 auto;
	width: calc(99.99% * 22/24 - (3.4rem - 3.4rem * 22/24));
}

.f-row_24 .f-row__cell-22:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-22:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-22:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-22:nth-child(24n) {
	margin-right: 0;
}

.f-row_24 .f-row__cell-23 {
	flex: 0 0 auto;
	width: calc(99.99% * 23/24 - (3.4rem - 3.4rem * 23/24));
}

.f-row_24 .f-row__cell-23:nth-child(1n) {
	margin-right: 3.4rem;
}

.f-row_24 .f-row__cell-23:last-child {
	margin-right: 0;
}

.f-row_24 .f-row__cell-23:nth-child(24n) {
	float: right;
}

.f-row_24 .f-row__cell-23:nth-child(24n) {
	margin-right: 0;
}


/*
 ## mobile
*/

@media screen and (max-width: 640px) {
	.f-row_not-mobile,
	.f-row__not-mobile {
		display: none;
	}
	.f-row__cell-mobile {
		flex: 0 0 auto!important;
		width: calc(99.99% * 1 - (3.4rem - 3.4rem * 1))!important;
	}
	.f-row__cell-mobile:nth-child(1n) {
		margin-right: 3.4rem!important;
	}
	.f-row__cell-mobile:last-child {
		margin-right: 0!important;
	}
	.f-row__cell-mobile:nth-child(undefinedn) {
		float: right!important;
	}
	.f-row__cell-mobile:nth-child(undefinedn) {
		margin-right: 0!important;
	}
	.f-row_6 .f-row__cell-mobile-1 {
		flex: 0 0 auto;
		width: calc(99.99% * 1/6 - (3.4rem - 3.4rem * 1/6));
	}
	.f-row_6 .f-row__cell-mobile-1:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_6 .f-row__cell-mobile-1:last-child {
		margin-right: 0;
	}
	.f-row_6 .f-row__cell-mobile-1:nth-child(6n) {
		float: right;
	}
	.f-row_6 .f-row__cell-mobile-1:nth-child(6n) {
		margin-right: 0;
	}
	.f-row_6 .f-row__cell-mobile-2 {
		flex: 0 0 auto;
		width: calc(99.99% * 2/6 - (3.4rem - 3.4rem * 2/6));
	}
	.f-row_6 .f-row__cell-mobile-2:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_6 .f-row__cell-mobile-2:last-child {
		margin-right: 0;
	}
	.f-row_6 .f-row__cell-mobile-2:nth-child(6n) {
		float: right;
	}
	.f-row_6 .f-row__cell-mobile-2:nth-child(6n) {
		margin-right: 0;
	}
	.f-row_6 .f-row__cell-mobile-3 {
		flex: 0 0 auto;
		width: calc(99.99% * 3/6 - (3.4rem - 3.4rem * 3/6));
	}
	.f-row_6 .f-row__cell-mobile-3:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_6 .f-row__cell-mobile-3:last-child {
		margin-right: 0;
	}
	.f-row_6 .f-row__cell-mobile-3:nth-child(6n) {
		float: right;
	}
	.f-row_6 .f-row__cell-mobile-3:nth-child(6n) {
		margin-right: 0;
	}
	.f-row_6 .f-row__cell-mobile-4 {
		flex: 0 0 auto;
		width: calc(99.99% * 4/6 - (3.4rem - 3.4rem * 4/6));
	}
	.f-row_6 .f-row__cell-mobile-4:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_6 .f-row__cell-mobile-4:last-child {
		margin-right: 0;
	}
	.f-row_6 .f-row__cell-mobile-4:nth-child(6n) {
		float: right;
	}
	.f-row_6 .f-row__cell-mobile-4:nth-child(6n) {
		margin-right: 0;
	}
	.f-row_6 .f-row__cell-mobile-5 {
		flex: 0 0 auto;
		width: calc(99.99% * 5/6 - (3.4rem - 3.4rem * 5/6));
	}
	.f-row_6 .f-row__cell-mobile-5:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_6 .f-row__cell-mobile-5:last-child {
		margin-right: 0;
	}
	.f-row_6 .f-row__cell-mobile-5:nth-child(6n) {
		float: right;
	}
	.f-row_6 .f-row__cell-mobile-5:nth-child(6n) {
		margin-right: 0;
	}
	.f-row_6 .f-row__cell-mobile_push_1 {
		margin-left: calc(99.99% * (-1/6 * -1) - (3.4rem - 3.4rem * (-1/6 * -1)) + 3.4rem) !important;
	}
	.f-row_6 .f-row__cell-mobile_push_2 {
		margin-left: calc(99.99% * (-2/6 * -1) - (3.4rem - 3.4rem * (-2/6 * -1)) + 3.4rem) !important;
	}
	.f-row_6 .f-row__cell-mobile_push_3 {
		margin-left: calc(99.99% * (-3/6 * -1) - (3.4rem - 3.4rem * (-3/6 * -1)) + 3.4rem) !important;
	}
	.f-row_6 .f-row__cell-mobile_push_4 {
		margin-left: calc(99.99% * (-4/6 * -1) - (3.4rem - 3.4rem * (-4/6 * -1)) + 3.4rem) !important;
	}
	.f-row_6 .f-row__cell-mobile_push_5 {
		margin-left: calc(99.99% * (-5/6 * -1) - (3.4rem - 3.4rem * (-5/6 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell-mobile-1 {
		flex: 0 0 auto;
		width: calc(99.99% * 1/12 - (3.4rem - 3.4rem * 1/12));
	}
	.f-row_12 .f-row__cell-mobile-1:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_12 .f-row__cell-mobile-1:last-child {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-1:nth-child(12n) {
		float: right;
	}
	.f-row_12 .f-row__cell-mobile-1:nth-child(12n) {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-2 {
		flex: 0 0 auto;
		width: calc(99.99% * 2/12 - (3.4rem - 3.4rem * 2/12));
	}
	.f-row_12 .f-row__cell-mobile-2:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_12 .f-row__cell-mobile-2:last-child {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-2:nth-child(12n) {
		float: right;
	}
	.f-row_12 .f-row__cell-mobile-2:nth-child(12n) {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-3 {
		flex: 0 0 auto;
		width: calc(99.99% * 3/12 - (3.4rem - 3.4rem * 3/12));
	}
	.f-row_12 .f-row__cell-mobile-3:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_12 .f-row__cell-mobile-3:last-child {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-3:nth-child(12n) {
		float: right;
	}
	.f-row_12 .f-row__cell-mobile-3:nth-child(12n) {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-4 {
		flex: 0 0 auto;
		width: calc(99.99% * 4/12 - (3.4rem - 3.4rem * 4/12));
	}
	.f-row_12 .f-row__cell-mobile-4:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_12 .f-row__cell-mobile-4:last-child {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-4:nth-child(12n) {
		float: right;
	}
	.f-row_12 .f-row__cell-mobile-4:nth-child(12n) {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-5 {
		flex: 0 0 auto;
		width: calc(99.99% * 5/12 - (3.4rem - 3.4rem * 5/12));
	}
	.f-row_12 .f-row__cell-mobile-5:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_12 .f-row__cell-mobile-5:last-child {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-5:nth-child(12n) {
		float: right;
	}
	.f-row_12 .f-row__cell-mobile-5:nth-child(12n) {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-6 {
		flex: 0 0 auto;
		width: calc(99.99% * 6/12 - (3.4rem - 3.4rem * 6/12));
	}
	.f-row_12 .f-row__cell-mobile-6:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_12 .f-row__cell-mobile-6:last-child {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-6:nth-child(12n) {
		float: right;
	}
	.f-row_12 .f-row__cell-mobile-6:nth-child(12n) {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-7 {
		flex: 0 0 auto;
		width: calc(99.99% * 7/12 - (3.4rem - 3.4rem * 7/12));
	}
	.f-row_12 .f-row__cell-mobile-7:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_12 .f-row__cell-mobile-7:last-child {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-7:nth-child(12n) {
		float: right;
	}
	.f-row_12 .f-row__cell-mobile-7:nth-child(12n) {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-8 {
		flex: 0 0 auto;
		width: calc(99.99% * 8/12 - (3.4rem - 3.4rem * 8/12));
	}
	.f-row_12 .f-row__cell-mobile-8:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_12 .f-row__cell-mobile-8:last-child {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-8:nth-child(12n) {
		float: right;
	}
	.f-row_12 .f-row__cell-mobile-8:nth-child(12n) {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-9 {
		flex: 0 0 auto;
		width: calc(99.99% * 9/12 - (3.4rem - 3.4rem * 9/12));
	}
	.f-row_12 .f-row__cell-mobile-9:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_12 .f-row__cell-mobile-9:last-child {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-9:nth-child(12n) {
		float: right;
	}
	.f-row_12 .f-row__cell-mobile-9:nth-child(12n) {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-10 {
		flex: 0 0 auto;
		width: calc(99.99% * 10/12 - (3.4rem - 3.4rem * 10/12));
	}
	.f-row_12 .f-row__cell-mobile-10:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_12 .f-row__cell-mobile-10:last-child {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-10:nth-child(12n) {
		float: right;
	}
	.f-row_12 .f-row__cell-mobile-10:nth-child(12n) {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-11 {
		flex: 0 0 auto;
		width: calc(99.99% * 11/12 - (3.4rem - 3.4rem * 11/12));
	}
	.f-row_12 .f-row__cell-mobile-11:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_12 .f-row__cell-mobile-11:last-child {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile-11:nth-child(12n) {
		float: right;
	}
	.f-row_12 .f-row__cell-mobile-11:nth-child(12n) {
		margin-right: 0;
	}
	.f-row_12 .f-row__cell-mobile_push_1 {
		margin-left: calc(99.99% * (-1/12 * -1) - (3.4rem - 3.4rem * (-1/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell-mobile_push_2 {
		margin-left: calc(99.99% * (-2/12 * -1) - (3.4rem - 3.4rem * (-2/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell-mobile_push_3 {
		margin-left: calc(99.99% * (-3/12 * -1) - (3.4rem - 3.4rem * (-3/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell-mobile_push_4 {
		margin-left: calc(99.99% * (-4/12 * -1) - (3.4rem - 3.4rem * (-4/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell-mobile_push_5 {
		margin-left: calc(99.99% * (-5/12 * -1) - (3.4rem - 3.4rem * (-5/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell-mobile_push_6 {
		margin-left: calc(99.99% * (-6/12 * -1) - (3.4rem - 3.4rem * (-6/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell-mobile_push_7 {
		margin-left: calc(99.99% * (-7/12 * -1) - (3.4rem - 3.4rem * (-7/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell-mobile_push_8 {
		margin-left: calc(99.99% * (-8/12 * -1) - (3.4rem - 3.4rem * (-8/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell-mobile_push_9 {
		margin-left: calc(99.99% * (-9/12 * -1) - (3.4rem - 3.4rem * (-9/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell-mobile_push_10 {
		margin-left: calc(99.99% * (-10/12 * -1) - (3.4rem - 3.4rem * (-10/12 * -1)) + 3.4rem) !important;
	}
	.f-row_12 .f-row__cell-mobile_push_11 {
		margin-left: calc(99.99% * (-11/12 * -1) - (3.4rem - 3.4rem * (-11/12 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile-1 {
		flex: 0 0 auto;
		width: calc(99.99% * 1/24 - (3.4rem - 3.4rem * 1/24));
	}
	.f-row_24 .f-row__cell-mobile-1:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-1:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-1:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-1:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-2 {
		flex: 0 0 auto;
		width: calc(99.99% * 2/24 - (3.4rem - 3.4rem * 2/24));
	}
	.f-row_24 .f-row__cell-mobile-2:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-2:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-2:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-2:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-3 {
		flex: 0 0 auto;
		width: calc(99.99% * 3/24 - (3.4rem - 3.4rem * 3/24));
	}
	.f-row_24 .f-row__cell-mobile-3:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-3:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-3:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-3:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-4 {
		flex: 0 0 auto;
		width: calc(99.99% * 4/24 - (3.4rem - 3.4rem * 4/24));
	}
	.f-row_24 .f-row__cell-mobile-4:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-4:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-4:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-4:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-5 {
		flex: 0 0 auto;
		width: calc(99.99% * 5/24 - (3.4rem - 3.4rem * 5/24));
	}
	.f-row_24 .f-row__cell-mobile-5:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-5:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-5:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-5:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-6 {
		flex: 0 0 auto;
		width: calc(99.99% * 6/24 - (3.4rem - 3.4rem * 6/24));
	}
	.f-row_24 .f-row__cell-mobile-6:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-6:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-6:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-6:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-7 {
		flex: 0 0 auto;
		width: calc(99.99% * 7/24 - (3.4rem - 3.4rem * 7/24));
	}
	.f-row_24 .f-row__cell-mobile-7:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-7:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-7:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-7:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-8 {
		flex: 0 0 auto;
		width: calc(99.99% * 8/24 - (3.4rem - 3.4rem * 8/24));
	}
	.f-row_24 .f-row__cell-mobile-8:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-8:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-8:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-8:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-9 {
		flex: 0 0 auto;
		width: calc(99.99% * 9/24 - (3.4rem - 3.4rem * 9/24));
	}
	.f-row_24 .f-row__cell-mobile-9:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-9:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-9:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-9:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-10 {
		flex: 0 0 auto;
		width: calc(99.99% * 10/24 - (3.4rem - 3.4rem * 10/24));
	}
	.f-row_24 .f-row__cell-mobile-10:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-10:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-10:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-10:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-11 {
		flex: 0 0 auto;
		width: calc(99.99% * 11/24 - (3.4rem - 3.4rem * 11/24));
	}
	.f-row_24 .f-row__cell-mobile-11:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-11:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-11:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-11:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-12 {
		flex: 0 0 auto;
		width: calc(99.99% * 12/24 - (3.4rem - 3.4rem * 12/24));
	}
	.f-row_24 .f-row__cell-mobile-12:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-12:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-12:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-12:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-13 {
		flex: 0 0 auto;
		width: calc(99.99% * 13/24 - (3.4rem - 3.4rem * 13/24));
	}
	.f-row_24 .f-row__cell-mobile-13:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-13:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-13:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-13:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-14 {
		flex: 0 0 auto;
		width: calc(99.99% * 14/24 - (3.4rem - 3.4rem * 14/24));
	}
	.f-row_24 .f-row__cell-mobile-14:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-14:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-14:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-14:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-15 {
		flex: 0 0 auto;
		width: calc(99.99% * 15/24 - (3.4rem - 3.4rem * 15/24));
	}
	.f-row_24 .f-row__cell-mobile-15:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-15:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-15:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-15:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-16 {
		flex: 0 0 auto;
		width: calc(99.99% * 16/24 - (3.4rem - 3.4rem * 16/24));
	}
	.f-row_24 .f-row__cell-mobile-16:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-16:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-16:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-16:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-17 {
		flex: 0 0 auto;
		width: calc(99.99% * 17/24 - (3.4rem - 3.4rem * 17/24));
	}
	.f-row_24 .f-row__cell-mobile-17:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-17:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-17:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-17:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-18 {
		flex: 0 0 auto;
		width: calc(99.99% * 18/24 - (3.4rem - 3.4rem * 18/24));
	}
	.f-row_24 .f-row__cell-mobile-18:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-18:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-18:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-18:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-19 {
		flex: 0 0 auto;
		width: calc(99.99% * 19/24 - (3.4rem - 3.4rem * 19/24));
	}
	.f-row_24 .f-row__cell-mobile-19:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-19:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-19:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-19:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-20 {
		flex: 0 0 auto;
		width: calc(99.99% * 20/24 - (3.4rem - 3.4rem * 20/24));
	}
	.f-row_24 .f-row__cell-mobile-20:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-20:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-20:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-20:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-21 {
		flex: 0 0 auto;
		width: calc(99.99% * 21/24 - (3.4rem - 3.4rem * 21/24));
	}
	.f-row_24 .f-row__cell-mobile-21:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-21:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-21:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-21:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-22 {
		flex: 0 0 auto;
		width: calc(99.99% * 22/24 - (3.4rem - 3.4rem * 22/24));
	}
	.f-row_24 .f-row__cell-mobile-22:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-22:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-22:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-22:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-23 {
		flex: 0 0 auto;
		width: calc(99.99% * 23/24 - (3.4rem - 3.4rem * 23/24));
	}
	.f-row_24 .f-row__cell-mobile-23:nth-child(1n) {
		margin-right: 3.4rem;
	}
	.f-row_24 .f-row__cell-mobile-23:last-child {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile-23:nth-child(24n) {
		float: right;
	}
	.f-row_24 .f-row__cell-mobile-23:nth-child(24n) {
		margin-right: 0;
	}
	.f-row_24 .f-row__cell-mobile_push_1 {
		margin-left: calc(99.99% * (-1/24 * -1) - (3.4rem - 3.4rem * (-1/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_2 {
		margin-left: calc(99.99% * (-2/24 * -1) - (3.4rem - 3.4rem * (-2/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_3 {
		margin-left: calc(99.99% * (-3/24 * -1) - (3.4rem - 3.4rem * (-3/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_4 {
		margin-left: calc(99.99% * (-4/24 * -1) - (3.4rem - 3.4rem * (-4/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_5 {
		margin-left: calc(99.99% * (-5/24 * -1) - (3.4rem - 3.4rem * (-5/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_6 {
		margin-left: calc(99.99% * (-6/24 * -1) - (3.4rem - 3.4rem * (-6/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_7 {
		margin-left: calc(99.99% * (-7/24 * -1) - (3.4rem - 3.4rem * (-7/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_8 {
		margin-left: calc(99.99% * (-8/24 * -1) - (3.4rem - 3.4rem * (-8/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_9 {
		margin-left: calc(99.99% * (-9/24 * -1) - (3.4rem - 3.4rem * (-9/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_10 {
		margin-left: calc(99.99% * (-10/24 * -1) - (3.4rem - 3.4rem * (-10/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_11 {
		margin-left: calc(99.99% * (-11/24 * -1) - (3.4rem - 3.4rem * (-11/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_12 {
		margin-left: calc(99.99% * (-12/24 * -1) - (3.4rem - 3.4rem * (-12/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_13 {
		margin-left: calc(99.99% * (-13/24 * -1) - (3.4rem - 3.4rem * (-13/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_14 {
		margin-left: calc(99.99% * (-14/24 * -1) - (3.4rem - 3.4rem * (-14/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_15 {
		margin-left: calc(99.99% * (-15/24 * -1) - (3.4rem - 3.4rem * (-15/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_16 {
		margin-left: calc(99.99% * (-16/24 * -1) - (3.4rem - 3.4rem * (-16/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_17 {
		margin-left: calc(99.99% * (-17/24 * -1) - (3.4rem - 3.4rem * (-17/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_18 {
		margin-left: calc(99.99% * (-18/24 * -1) - (3.4rem - 3.4rem * (-18/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_19 {
		margin-left: calc(99.99% * (-19/24 * -1) - (3.4rem - 3.4rem * (-19/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_20 {
		margin-left: calc(99.99% * (-20/24 * -1) - (3.4rem - 3.4rem * (-20/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_21 {
		margin-left: calc(99.99% * (-21/24 * -1) - (3.4rem - 3.4rem * (-21/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_22 {
		margin-left: calc(99.99% * (-22/24 * -1) - (3.4rem - 3.4rem * (-22/24 * -1)) + 3.4rem) !important;
	}
	.f-row_24 .f-row__cell-mobile_push_23 {
		margin-left: calc(99.99% * (-23/24 * -1) - (3.4rem - 3.4rem * (-23/24 * -1)) + 3.4rem) !important;
	}
}