/*
<style class="This is icon DEMO styling">
	.codedemo span {
		display: inline-block;
		margin: 2rem;

		color: white;
		font-size: 3rem;
	}
</style>

You almost always need to set `color` and `font-size`.

## All icons
```	
	<span class="icon-home"></span>
	<span class="icon-facebook"></span>
	<span class="icon-twitter"></span>
	<span class="icon-rss"></span>
	<span class="icon-youtube"></span>
	<span class="icon-reddit"></span>	
```
*/

@font-face {
    font-family: 'icomoon';
    src:	url('../assets/fonts/icomoon.eot?qcczkl');
    src:	url('../assets/fonts/icomoon.eot?qcczkl#iefix') format('embedded-opentype'),
					url('../assets/fonts/icomoon.ttf?qcczkl') format('truetype'),
					url('../assets/fonts/icomoon.woff?qcczkl') format('woff'),
					url('../assets/fonts/icomoon.svg?qcczkl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}
.icon-facebook:before {
    content: "\e901";
}
.icon-twitter:before {
    content: "\e902";
}
.icon-rss:before {
    content: "\e903";
}
.icon-youtube:before {
    content: "\e904";
}
.icon-reddit:before {
    content: "\e905";
}
