node_modules
npm-debug.log
bower_components

#VSCode
.vscode  

# jekyll
_site

site/assets/fonts
site/assets/image
site/css/blocks/*.css
site/css/bundle.css

# front end dependencies
site/lib

.DS_Store
Thumbs.db
