/*
A group of left justified buttons.

´BLOCK f-button-row´
    ´ELEMENT f-button-row__button´
    ´ELEMENT f-button-row__button_attention´

```
<button class="f-button-row">CLICK</button>

```

*/

@import "../variables";

.f-button-row {
	border: 2px solid var(--color-black);
	background-color: var(--color-white);
	border-radius: 2rem;
}

.f-button-row__button {
	
}

.f-button-row__button_attention {
	
}