
/*
A container that put 3 buttons per row with equal space between them, where the first and last button are justified to the edge.
<<<<<<< HEAD

`BLOCK f-button-group`
    `ELEMENT f-button-group__button`
    `MODIFIER f-button-group__button_active`

## Applying grid

```

<!-- this should be used on the website -->
<div class="kalei-background-white"> 
<!-- only here for the style guide - should not be used on the website -->
<!-- this should be used on the website -->

<!-- SECOND ROW OF BUTTONS -->
<section class="f-button-group">
	<div class="f-row f-row_6">
		<div class="f-row__cell-2 f-row_not-mobile">
			<button class="f-button-group__button">Test</button>
		</div>
		<div class="f-row__cell-3 f-row_not-desktop">
			<button class="f-button-group__button">Terms</button>
		</div>
		<div class="f-row__cell-2 f-row__not-mobile">
			<button class="f-button-group__button">Blog</button>
		</div>
		<div class="f-row__cell-2 f-row__cell-mobile-3">
			<button class="f-button-group__button">Manifesto</button>
		</div>
	</div>
</section>

<section class="f-button-group">
	<div class="f-row f-row_6">
		<div class="f-row__cell-2 f-row_not-mobile">
			<button class="f-button-group__button">Contact</button>
		</div>
		<div class="f-row__cell-3 f-row_not-desktop">
			<button class="f-button-group__button">Contact</button>
		</div>
		<div class="f-row__cell-2 f-row__not-mobile">
			<button class="f-button-group__button">Who we are</button>
		</div>
		<div class="f-row__cell-2 f-row__cell-mobile-3">
			<button class="f-button-group__button">Dank memes</button>
		</div>
	</div>
</section>

<section class="f-button-group">
	<div class="f-row f-row_6">
		<div class="f-row__cell-3 f-row_not-desktop">
			<button class="f-button-group__button">Who we are</button>
		</div>
		<div class="f-row__cell-3 f-row_not-desktop">
			<button class="f-button-group__button">Blog</button>
		</div>
	</div>
</section>
=======
Goes into two columns on mobile. 

`BLOCK f-button-group`
    `ELEMENT f-button-group__button`
    `MODIFIER f-button-group__button_selected`

## Button effects

So yeah, it's hard to choose. The simple one? The minimalistic underline? The big sweeping one? 

```
<div class="kalei-background-white">
<!-- only here for the style guide - should not be used on the website -->
<!-- this should be used on the website -->

	<section class="f-button-group">
		<div class="f-column f-column_3 f-column_mobile_2">
			<button class="f-button-group__button_fade">Terms</button>
			<button class="f-button-group__button_underline">Blog</button>
			<button class="f-button-group__button_stop">Manifesto</button>
			<button class="f-button-group__button_fade">Contact</button>
			<button class="f-button-group__button_underline">Who we are</button>
			<button class="f-button-group__button_stop">Dank memes</button>
		</div>
	</section>

<!-- this should be used on the website -->
</div>
```

## What I would like: 

Well, this is just an idea - and I've tried but I lack the skill to build it myself. 
So instead of spending 3 days of trying, I'm going to explain here and on Waffle/github, and maybe @dotnetcarpenter can give it at go? 

Maybe the idea is stupid. But maybe it's just what we're looking for here. 

In the following example, we have two hover effects. One on the bottomline, and another on on the top line. 
Can we mix them? Could we use the bottom effect as a hovereffect, and then 'on click' use the top 'sweep' effect? 

I think it would look awesome! 

```
<!-- this should be used on the website -->
<div class="kalei-background-white">
<!-- only here for the style guide - should not be used on the website -->
<!-- this should be used on the website -->

	<section class="f-button-group">
		<div class="f-column f-column_3 f-column_mobile_2">
			<button class="f-button-group__button_stop">Terms</button>
			<button class="f-button-group__button_stop">Blog</button>
			<button class="f-button-group__button_stop">Manifesto</button>
			<button class="f-button-group__button_underline">Contact</button>
			<button class="f-button-group__button_underline">Who we are</button>
			<button class="f-button-group__button_underline">Dank memes</button>
		</div>
	</section>
>>>>>>> master

<!-- this should be used on the website -->
</div>
```

<<<<<<< HEAD
=======

>>>>>>> master
*/

@import "../variables";

.f-button-group { 

}

<<<<<<< HEAD
.f-button-group__button {
/*	flex-basis: calc(1/3 * 99.99% - var(--grid-padding) * 2);*/
	display: inline;
	
	width: 100%;

	margin-bottom: 3.0rem;
	border: 2px solid var(--color-black);
	border-radius: 0.3rem;
	
	font-size: 3.2rem;
	font-weight: bold;
	text-align: center;
	
	background-color: var(--color-white);

	cursor: pointer;

	outline: none;

=======
.f-button-group__button::first-letter {
	text-transform: uppercase;
}

/*########## SWEEP TO TOP*/
.f-button-group__button_stop {
	/*From Karl's CSS:*/
	margin-bottom: 3.0rem;
	border: 2px solid var(--color-black);
	border-radius: 0.5rem;
	
	font-size: 3rem;
	font-weight: bold;
	
	background-color: var(--color-white);

	/*From Hover.css*/
>>>>>>> master
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    transition-property: color;
    transition-duration: 0.2s;
<<<<<<< HEAD
}

.f-button-group__button::first-letter {
	text-transform: uppercase;
}


.f-button-group__button_selected {
	color: var(--color-white);
	background-color: var(--color-black);
}

/* This is where I want to create a 'click' effect, where the text goes color:white;, exactly when it's clicked. But it doesn't work :-(*/

/*.f-button-group__button:target {
	color: var(--color-white);
}*/

.f-button-group__button:hover, .f-button-group__button:focus, .f-button-group__button:active  {
	color: var(--color-grey-light);
}

.f-button-group__button:before {
=======

    /*From Karl's CSS*/
	cursor: pointer;
	outline: none;
}

	/*From Hover.css*/
.f-button-group__button_stop:hover {
	color: var(--color-grey-light);
}

/*From Hover.css*/
.f-button-group__button_stop:before {
>>>>>>> master
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--color-black);
	transform: scaleY(0);
	transform-origin: 50% 100%;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

<<<<<<< HEAD
.f-button-group__button:hover:before, .f-button-group__button:focus:before, .f-button-group__button:active:before {
	transform: scaleY(1);
}


=======
.f-button-group__button_stop:hover::before {
	transform: scaleY(1);
}

/* ########## FADE*/
.f-button-group__button_fade {

	/*From Karl's CSS*/
	margin-bottom: 3.0rem;
	border: 2px solid var(--color-black);
	border-radius: 0.5rem;
	
	font-size: 3rem;
	font-weight: bold;
	
	background-color: var(--color-white);

	/*From Hover.css*/
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	transition-duration: 0.3s;

	transition-property: color, background-color;

	/*From Karl's CSS*/
	cursor: pointer;
	outline: none;
}

/*From Hover.css*/
.f-button-group__button_fade:hover, .f-button-group__button_fade:focus, .f-button-group__button_fade:active {
	background-color: var(--color-black);
	color: white;
}


/* ######### Underline Reveal */
.f-button-group__button_underline {

	/*Karl's CSS*/
	margin-bottom: 3.0rem;
	border: 2px solid var(--color-black);
	border-radius: 0.5rem;
	
	font-size: 3rem;
	font-weight: bold;
	
	background-color: var(--color-white);

  /*From Hover.css*/
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;

  	/*Karl's CSS: Should be on no matter what:*/
	cursor: pointer;
	outline: none;
}

/*From Hover.css:*/
.f-button-group__button_underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-black);
  height: 4px;
  transform: translateY(4px);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.f-button-group__button_underline:hover:before, .f-button-group__button_underline:focus:before, .f-button-group__button_underline:active:before {
  transform: translateY(0);
}


/*MIX UNDERLINE & SWEEP*/

.f-button-group__button_underline-sweep {
	/*From Karl's CSS*/
	margin-bottom: 3.0rem;
	border: 2px solid var(--color-black);
	border-radius: 0.5rem;
	
	font-size: 3rem;
	font-weight: bold;
	
	background-color: var(--color-white);

  /*From Hover.css*/
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;

}
.f-button-group__button_underline-sweep:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-black);
  height: 4px;
  transform: translateY(4px);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.f-button-group__button_underline-sweep:hover:before, .f-button-group__button_underline-sweep:focus:before, .f-button-group__button_underline-sweep:active:before {
  transform: translateY(0);
}




/*---------*/

/*From Jon's CSS - something with the .js*/
.f-button-group__button_stopselected {
	color: var(--color-white)!important;
	background-color: var(--color-black);
}
>>>>>>> master
