/*
## Buttons!

Right now we're exploring different options.
So it's very much a work in proces.

Right now I'm stuck at the f.button-default ...
I now exactly what it's supposed to look like, but I can't make it work.


<pre>BLOCK f-button
		MODIFIER f-button_default
		MODIFIER f-button_submit
		ELEMENT f-button__donate
		MODIFIER f-button__donate_A
		MODIFIER f-button__donate_B
		ELEMENT f-button__organize
		~MODIFIER f-button__organize_now~
		ELEMENT f-button__share</pre>


## f-button_default
```
<div class="kalei-background-white"> <!-- only here for the style guide - should not be used on the website -->
<!-- this should be used on the website -->
	<button class="f-button f-button_default2">reset</button>
<!-- this should be used on the website -->
</div>
```


*/

@import "../variables";

.f-button {
	position:relative;
	top: 0;
	margin: 0 30px 32px 0;
	/*padding-bottom: 0.3rem;*/
	width: 164px;

	color: var(--color-black, black);
	font-size: 24px;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;

	background-color: var(--color-white);
	border: 3px solid var(--color-black);
	border-radius: 5px;

  cursor: pointer;
	outline: 0 none;
}

/* remove outline in ff */
.f-button_default2::-moz-focus-inner {
  border: 0;
}

.f-button_default2 {
	padding: 0;
	height: 38px;

	transition-property: top, box-shadow;
  transition-duration: 100ms;
	transition-timing-function: linear;
}
.f-button_default2:hover {
	box-shadow: 0 2px 0 var(--color-black), inset 0 -4px 0 var(--color-black);
}

.f-button_default2:active {
	top: 2px;
	/*transform: translateY(4px);*/
	box-shadow:  0 0 0 var(--color-black), inset 0 -4px 0 var(--color-black);
}
