
/*
A container that put 3 buttons per row with equal space between them, where the first and last button are justified to the edge.

`BLOCK f-button-group`
    `ELEMENT f-button-group__button`
    `MODIFIER f-button-group__button_active`


```
<div class="kalei-background-white"> <!-- only here for the style guide - should not be used on the website -->
	<!-- this should be used on the website -->

	<div class="f-button-group">
		<button class="f-button-group__button">Blog</button>
		<button class="f-button-group__button">Manifesto</button>
		<button class="f-button-group__button">Terms</button>
	</div>

	<div class="f-button-group">
		<button class="f-button-group__button">Team</button>
		<button class="f-button-group__button">Who we are</button>
		<button class="f-button-group__button">Contact</button>
		<button class="f-button-group__button">Contact</button>
		<button class="f-button-group__button">Contact</button>
	</div>

	<!-- this should be used on the website -->
</div>

```

*/

@import "../variables";

.f-button-group {
	display: flex;
	flex-flow: row wrap;
  	justify-content: space-between;
  	/*justify-content: flex-start;*/
  	line-height: 5.2rem;
}

.f-button-group__button {
	margin-bottom: 3.0rem;
	flex-basis: calc(1/3 * 99.99% - var(--grid-padding) * 2);

	border: 2px solid var(--color-black);
	border-radius: 0.3rem;
	
	font-size: 3.2rem;
	font-weight: bold;
	text-align: center;
	
	background-color: var(--color-white);
}
.f-button-group__button::first-letter {
	text-transform: uppercase;
}

.f-button-group__button_active {

}




