/*
## Buttons!

Right now we're exploring different options.
So it's very much a work in proces.

I now exactly what it's supposed to look like, but I can't make it work.

<pre>
BLOCK f-button-basic
		MODIFIER f-button-basic_default
		MODIFIER f-button-basic_submit
		ELEMENT f-button-basic__donate
		MODIFIER f-button-basic__donate_A
		MODIFIER f-button-basic__donate_B
		ELEMENT f-button-basic__organize
		~MODIFIER f-button-basic__organize_now~
		ELEMENT f-button-basic__share
</pre>

## f-button-basic
```
<div class="kalei-background-white"><!-- only here for the style guide - should not be used on the website -->

<!-- this should be used on the website -->
	<button class="f-button-basic">encrypt</button>
	<button class="f-button-basic">reset</button>
<!-- this should be used on the website -->

</div><!-- only here for the style guide - should not be used on the website -->
```
*/

@import "../variables";

f-button-basic {
	position: relative;
	top: 0;
	min-width: 16.4rem;
	margin: 0 3rem 3.2rem 0;
	padding: 0; /*KLUDGE: padding set to 0 to avoid text moving while animating in Firefox */

	color: var(--color-black, black);
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;

	background-color: var(--color-white);
	border: .3rem solid var(--color-black);
	border-radius: 0.5rem;
	box-shadow: 0 0rem 0 var(--color-black), inset 0 0rem 0 var(--color-black);

	transition-property: box-shadow, top;
	transition-duration: 100ms;
	transition-timing-function: linear;

	cursor: pointer;
	outline: 0 none;
}
f-button-basic::-moz-focus-inner {
	border: 0; /*KLUDGE: remove outline in Firefox */
}

f-button-basic:hover {
	box-shadow: 0 .3rem 0 var(--color-black), inset 0 -.4rem 0 var(--color-black);
}
f-button-basic:active {
	top: .3rem;
	box-shadow: 0 0rem 0 var(--color-black), inset 0 -.4rem 0 var(--color-black);
}

/*
## Button with icon
```
<div class="kalei-background-white"> <!-- only here for the style guide - should not be used on the website -->

<!-- this should be used on the website -->
<button class="f-button-basic f-button-basic_icon f-icon-twitter">twitter</button>
<button class="f-button-basic f-button-basic_icon f-icon-facebook">facebook</button>
<button class="f-button-basic f-button-basic_icon f-icon-youtube">youtube</button>
<button class="f-button-basic f-button-basic_icon f-icon-reddit">reddit</button>
<button class="f-button-basic f-button-basic_icon f-icon-home">home</button>
<button class="f-button-basic f-button-basic_icon f-icon-twitter">twitter</button>
<button class="f-button-basic f-button-basic_icon f-icon-facebook">facebook</button>
<button class="f-button-basic f-button-basic_icon f-icon-youtube">youtube</button>
<button class="f-button-basic f-button-basic_icon f-icon-reddit">reddit</button>
<button class="f-button-basic f-button-basic_icon f-icon-home">home</button>
<button class="f-button-basic">No icon</button>
<!-- this should be used on the website -->

</div>
```
*/
f-button-basic_icon {
	padding: 0 2.4rem 0 4rem;
}
f-button-basic_icon::before {
	position: absolute;

	transform: translateX(-3.1rem);
}
f-button-basic_icon.f-icon-youtube::before {
	transform: translate(-3.1rem, 0.3rem);
}
f-button-basic_icon.f-icon-facebook::before {
	font-size: 2rem;

	transform: translate(-2.6rem, 0.4rem);
}
f-button-basic_icon.f-icon-reddit::before {
	transform: translate(-3.6rem, 0.1rem);
}
f-button-basic_icon.f-icon-home::before {
	transform: translate(-3.7rem, 0.2rem);
}
