/*

short text. small line height. top-margin. 
##EXAMPLE 1
```
<div>
    <p class="f-footer-text">
        We are activists from all over. we are everywhere. Beware!
        We have knives and dogs. they bite and sting. love firefund staff
    </p>
</div>
```
##EXAMPLE 2
short text. small line height. top-margin. with links and span. 
```
<div>
    <p class="f-footer-text">
     We are activists from all over. we are everywhere. <span>Beware!</span>
     We have knives and dogs. they <span>bite</span> and <a href="">sting</a>. 
     love firefund <span>staff</span>
    </p>
</div>
```
##EXAMPLE 3
Long text. small line height. top-margin. with links and span. 
```
<div>
    <p class="f-footer-text">
        Here is some text
        it is nice text
        Putting a lot of text now. <a href="">some text are links</a>
        it is nice text
        Putting a lot of text now. <a href="">some text are links</a>
        it is nice text
        Putting a lot of text now. <a href="">some text are links</a>
        it is nice text
        Putting a lot of text now. <a href="">some text are links</a>
        it is nice text
        Putting a lot of text now. <a href="">some text are links</a>
        it is nice text
        Putting a lot of text now. <a href="">some text are links</a>
        it is nice text
        Putting a lot of text now. <a href="">some text are links</a>
       </p>
</div>
```
 */
 
 
 
 @import "../variables";
 
 .f-footer-text {
     
     font-weight: lighter;
     font-size: 1.6rem;
     color: var(--color-white);
     line-height: 1.6;
 }