/*
Hero. Has a full width background image with text content on top.
Image inserted as html img tag and via js set as css background-image. The
image is initial hidden but is reveal in a translateY/opacity movement, when
the js has run.

```
<div class="f-hero">
	<div class="f-hero__heading">
		<h1><span>Project:</span></h1><br>
		<h1>Rebuild Kobanê</h1>
	</div>
	<p class="f-hero__text">
		<span>We have always dealt with oppression, but we do not only fight</span>
		<span>against ISIS - we fight for freedom. We are the Kobanê</span>
		<span>Reconstruction Board, and this is a global call to action, to stand</span>
		<span>with us and rebuild our city.</span>
	</p>
</div>
BLOCK f-hero
	ELEMENT f-hero__heading
	ELEMENT f-hero__text
```
*/

@import "../variables";

.f-hero {
	height: 30rem;
	width: 100%;
	margin-bottom: 3rem;

	background-image: url(../../image/projecthero.png);
	background-repeat: no-repeat;
	background-position: center bottom; /* cut sides until media query limit */
}
f-hero__heading {
	position: relative;
  margin: 4rem 0 0 3.4rem;
}


@media screen and (min-width: 1350px) { /* max image width should be measured from the actual image - cut top to make img fit */
	.f-hero {
		background-size: cover;
	}
}
