/*## Example 1-Horizontal
```
    <ul class="f-icons f-icons_horizontal">
        <li class="f-icons__icon f-icon-reddit"></li>
        <li class="f-icons__icon f-icon-twitter"></li>
    </ul>    
```

```
    <ul class="f-icons">
        <li class="f-icons__icon f-icon-reddit"></li>
        <li class="f-icons__icon f-icon-twitter"></li>
    </ul>    
```
*/
@import "../variables"; 

.f-icons {
   padding: 0;
   margin-top: 0; 
   margin-left: 2rem;
   
   font-size: 4rem; 
   color: var(--color-white); 
    
   list-style: none;
}

.f-icons__icon {  
      
}

.f-icons_horizontal li {
    display: inline;
    margin-right: 2rem; 
}

