/*
A bullet list or number list. (About Who-01, Project-01)
BLOCK f-list

```
<ul class="f-list">
	<li>The unordered one! Lets make a loooooong sentence and se what the fuck is happining up in here! Double that shit up motherfucker yeah biiiitch</li>
	<li>The unordered second! And this one is shorty! </li>
	<li>The unordered one! Lets make a loooooong sentence and se what the fuck is happining up in here! Double that shit up motherfucker yeah biiiitch</li>
</ul>

<ol class="f-list">
	<li>The ordered one!</li>
	<li>The ordered second one!!!  Lets make a loooooong sentence and se what the fuck is happining up in here! Double that shit up motherfucker yeah biiiitch</li>
	<li>The ordered one!</li>
</ol> 
 

```
*/


@import "../variables";

.f-list {
	display: table;
	margin: 0.6rem 0 0;
	padding: 0;
	
	
	color: var(--color-grey-dark);
	font-size: 1.4rem;
	line-height: 1.8rem;
	font-weight: lighter;
	list-style: none;

	counter-reset: f-list;
}

.f-list li {
	display: table-row;
}

.f-list li::before {
	display: table-cell;
	position: relative;
	content: "\2022"; /* /2022 is the numerical unicode for &bull; */
	top: 0.9rem; /* set the vertical position of the bullet if necessary. Make sure to use em or % */

	padding-right: 1.25rem; /* give the bullet some padding from the text Make sure to use em*/
	padding-left: 1.3rem;

	color: var(--color-red);
	font-size: 3.8rem; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
}

ol.f-list li::before {
	font-size: 1.4rem;
	counter-increment: f-list;
	content: counter(f-list) ".";
	top: 0rem;
	height: 3rem;
}

/*
From old firefund:*/

/* exeption(s) */
/*figure + .list {}*/

