/*
In the modal window, the two different payment forms - one for mobile, one for desktop.
<pre>
	BLOCK f-payment
	    MODIFIER f-payment_direct
	    MODIFIER f-payment_pledge
	    ELEMENT f-payment__heading
	    ELEMENT f-payment__text
	    ELEMENT f-payment__button
	    MODIFIER f-payment__button_narrow
	    ELEMENT f-payment__radio
	    ELEMENT f-payment__radio-input
	    ELEMENT f-payment__footer
	    ELEMENT f-payment__footer-text
	    ELEMENT f-payment__slider
</pre>
```
# First edition


<button class="f-button">Toggle modal window</button>

<div class="f-modal f-modal_visible">
	<div class="f-modal__content">
		<div class="f-content">
	<div class="f-payment">
		<div class="f-row f-row_12">
			<div class="f-row__cell-7 f-row_not-mobile">
				<h2 class="f-payment__heading"> Choose the amount and method of payment</h2>
				<p class="f-payment__text">A pledged donation will only transfer if the campaign reaches the goal within the timeframe. <span>Read more.</span></p>
				<button class="f-payment__button">Pledge</button>
			</div>
			<div class="f-row_not-desktop f-row__cell-mobile_push_2 f-row__cell-mobile-8">
				<h2 class="f-payment__heading f-payment__heading_mobile"> Choose the amount and method of payment</h2>
				<p class="f-payment__text">A pledged donation will only transfer if the campaign reaches the goal within the timeframe. <span>Read more.</span></p>
				<button class="f-payment__button">Pledge</button>
			</div>
			<div class="f-row__cell-1 f-row_not-mobile">
				<div class="f-payment__arrow"></div>
			</div>
			<div class="f-row_not-desktop f-row__cell-mobile_push_3 f-row__cell-mobile-8">
				<div class="f-payment__arrow f-payment__arrow_mobile"></div>
			</div>
			<div class="f-row__cell-4 f-row__cell-mobile_push_2 f-row__cell-mobile-8">
				<div class="f-column f-column_2">
					<div class="f-payment__radio">
						<input type="radio" id="rb4" name="rb" value="">
						<label for="rb5">$25</label><br>
						<input type="radio" id="rb6" name="rb"value="">
						<label for="rb4">$50</label><br>
						<input type="radio" id="rb5" name="rb"value="">
						<label for="rb5">$25</label><br>
						<!-- TODO: This should be a text input, for the user to write it's own number -->
					</div>
					<div class="f-payment__radio">
						<input type="radio" id="rb1" name="rb" value="">
						<label for="rb1">$500</label><br>
						<input type="radio" id="rb2" name="rb"value="">
						<label for="rb2">$250</label><br>
						<input type="radio" id="rb3" name="rb" value="">
						<label for="rb3">$100</label><br>
						<!-- TODO: This should be a text input, for the user to write it's own number -->
					</div>
					<button class="f-payment__button">Bitcoin</button>
					<button class="f-payment__button">Credit card</button>
				</div>
			</div>
		</div>
		<div class="f-payment__footer">
			<div class="f-row f-row_12">


				<div class="f-row__cell-6 f-row__cell-mobile_push_2 f-row__cell-mobile-8">
					<div class="f-payment__footer-text f-text">You decide the cut. Please, keep in mind that FIREFUND is non-profit and activist-driven.
					</div>
				</div>

				<div class="f-row__cell-1 f-row__cell-mobile_push_2 f-row__cell-mobile-1">
					<div class="f-payment__footer-text f-text">FIREFUND</div>
					<div class="f-payment__footer-text f-text">KOBANE</div>
				</div>
				<div class="f-row__cell-3">
					<div class="f-payment__slider">
						<div class="f-payment__slider_ends">
							<input class="f-payment__slider_style" type="range" id="s1">
							<label for="s1"></label>
						</div>
						<div class="f-payment__slider_ends">
							<input class="f-payment__slider_style" type="range" id="s1">
							<label for="s1"></label>
						</div>
					</div>
				</div>

				<div class="f-row__cell-2">
					<div class="f-payment__footer-text f-text">$42.45</div>
					<div class="f-payment__footer-text f-text">$8.55</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


```
<script>
	// demo script
	document.querySelector(".f-button").addEventListener("click", function(e) {
		document.querySelector(".f-modal").classList.toggle("f-modal_visible")
	})
</script>
*/
@import "../variables";

.f-payment {
	padding-top: 2.3rem;
	width: 100%;
	height: 100%;
	float: bottom;
}

.f-payment_direct {
}

.f-payment_pledge {
}

.f-payment__heading {
	display: inline-flex;
	line-height: 2.7rem;
	margin: 0 0 1.9rem -var(--gutter-width);
	padding: .8rem 1.93rem .8rem var(--gutter-width);

	color: var(--color-white);
	font-size: 2.6rem;
	background-color: var(--color-black);
}

.f-payment__heading_mobile {
	margin: 0 0 1.9rem -13.6rem;
	padding: .8rem 1.93rem .8rem 13.6rem;
}

.f-payment__text {
	margin: 0;
	height: 11.4rem;
}
.f-payment__button {
	position: relative;
	bottom: 0;
	right: 0;
	width: 100%;
	margin: 0 0 1rem 0;
	color: var(--color-black, black);
	font-size: 2.0rem;
	font-weight: lighter;
	text-transform: capitalize;
	text-align: center;
	background-color: var(--color-white);
	border: .2rem solid var(--color-black);
	border-radius: 0.5rem;
	box-shadow: 0 0rem 0 var(--color-black), inset 0 0rem 0 var(--color-black);
	cursor: pointer;
	outline: 0 none;
}

.f-payment__button::-moz-focus-inner {
	border: 0; /*KLUDGE: remove outline in Firefox */
}

.f-payment__button:hover {
	box-shadow: 0 .3rem 0 var(--color-black), inset 0 -.4rem 0 var(--color-black);
}
.f-payment__button:active {
	top: .3rem;
	box-shadow: 0 0rem 0 var(--color-black), inset 0 -.4rem 0 var(--color-black);
}

.f-payment__button_narrow {
}

.f-payment__arrow {
	margin: 11rem 0 0 -1.5rem;
	height: 3rem;
	width: 3rem;
	border-bottom: 5px solid var(--color-grey-light);
	border-right: 5px solid var(--color-grey-light);
	transform: rotate(-45deg);
}

.f-payment__arrow_mobile {
	margin: 4rem 0 2rem 8rem;
	transform: rotate(45deg);
}

.f-payment__radio {
	position: relative;
	height: 15.8rem;
}

.f-payment__radio-input {
}

input[type=radio] {
	display:none;
}

input[type=radio] + label:before {
	content: "";
	display: inline-block;
	width: 2.6rem;
	height: 2.6rem;
	vertical-align: -1rem;
	margin: 1.5rem 0.5rem 0.2rem 0rem;
	border: solid 0.4rem var(--color-black);
	background-color: var(--color-white);
	border-radius: 1.3rem;
}

.f-payment__footer {
	background: var(--color-grey-light);
	margin: 1rem -var(--gutter-width) 0 -var(--gutter-width);
	padding: 3.4rem 0 2rem 3.4rem;
}

.f-payment__footer-text {
	font-size: 1.2rem;
	font-weight: 100;
	color: var(--color-grey);
	line-height: 1.8rem;
}

.f-payment__slider {
	margin: 0.5rem 0 0 0.4rem;

}

.f-payment__slider_ends {
	display: inline-block;
	align-self: center;
	height: 0.7rem;
	width: 12.8rem;
	margin: 0 1rem 0 1rem;
	border-left: 0.1rem solid var(--color-grey);
	border-right: 0.1rem solid var(--color-grey);
}

input[type=range].f-payment__slider_style {
	-webkit-appearance: none;
	width: 100%;
	margin: -1rem 0;
}

input[type=range].f-payment__slider_style:focus {
	outline: none;
}

input[type=range].f-payment__slider_style::-webkit-slider-runnable-track {
	margin: -2.7rem 0 0 0;
	width: 100%;
	height: 0.1rem;
	cursor: pointer;
	background: #808080;
	border-radius: 0px;
	border: 0px solid rgba(1, 1, 1, 0);
}

input[type=range].f-payment__slider_style::-webkit-slider-thumb {
	border: 1px solid #808080;
	height: 1.6rem;
	width: 1.6rem;
	border-radius: 10px;
	background: #d8d8d8;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -0.8rem;
}

input[type=range].f-payment__slider_style:focus::-webkit-slider-runnable-track {
	background: #979797;
}

input[type=range].f-payment__slider_style::-moz-range-track {
	width: 100%;
	height: 0.2rem;
	cursor: pointer;
	background: #808080;
	border-radius: 0px;
	border: 0px solid rgba(1, 1, 1, 0);
}

input[type=range].f-payment__slider_style::-moz-range-thumb {
	border: 1rem solid #808080;
	height: 2rem;
	width: 2rem;
	border-radius: 10px;
	background: #d8d8d8;
	cursor: pointer;
}

input[type=range].f-payment__slider_style::-ms-track {
	width: 100%;
	height: 0.2rem;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range].f-payment__slider_style::-ms-fill-lower {
	background: #696969;
	border: 0px solid rgba(1, 1, 1, 0);
	border-radius: 0px;
}

input[type=range].f-payment__slider_style::-ms-fill-upper {
	background: #808080;
	border: 0px solid rgba(1, 1, 1, 0);
	border-radius: 0px;
}

input[type=range].f-payment__slider_style::-ms-thumb {
	border: 1px solid #808080;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background: #d8d8d8;
	cursor: pointer;
	height: 2px;
}

input[type=range].f-payment__slider_style:focus::-ms-fill-lower {
	background: #808080;
}

input[type=range].f-payment__slider_style:focus::-ms-fill-upper {
	background: #979797;
}