/*
# f-radio-group

<pre>
BLOCK f-radio-group
	ELEMENT f-radio-group__element
</pre>

## Default
```
<div class="kalei-background-white"> <!-- only here for the style guide - should not be used on the website -->


	<fieldset class="f-radio-group">
		<legend>Regarding</legend>
		<div class="f-radio-group__element">
			<input id="rb1" radiogroup="regarding" type="radio" name="rb" value="Press">
			<label for="rb1">Press</label>
		</div>
		<div class="f-radio-group__element">
			<input id="rb2" radiogroup="regarding" type="radio" name="rb" value="Political">
			<label for="rb2">Political cooperation / mutial aid</label>
		</div>
		<div class="f-radio-group__element">
			<input id="rb3" radiogroup="regarding" type="radio" name="rb" value="Other">
			<label for="rb3">Other</label>
		</div>
	</fieldset>


</div> <!-- only here for the style guide - should not be used on the website -->
```

## Donation

With a `f-text-input` field

```
<div class="kalei-background-white"> <!-- only here for the style guide - should not be used on the website -->


	<fieldset class="f-radio-group">
		<div class="f-radio-group__element">
			<input id="rb4" radio-group="amount" type="radio" name="rb" value="500">
			<label for="rb4">$500</label>
		</div>
		<div class="f-radio-group__element">
			<input id="rb5" radio-group="amount" type="radio" name="rb" value="250">
			<label for="rb5">$250</label>
		</div>
		<div class="f-radio-group__element">
			<input id="rb6" radio-group="amount" type="radio" name="rb" value="100">
			<label for="rb6">$100</label>
		</div>
		<div class="f-radio-group__element">
			<input id="rb7" radio-group="amount" type="radio" name="rb" value="50">
			<label for="rb7">$50</label>
		</div>
		<div class="f-radio-group__element">
			<input id="rb8" radio-group="amount" type="radio" name="rb" value="20">
			<label for="rb8">$20</label>
		</div>
		<div class="f-text-input f-radio-group__element">
			<input id="rb9" radio-group="amount" type="radio" name="rb" value="20">
			<label for="rb9">
				<input class="f-text-input__text-field" type="number" pattern="[0-9]+" placeholder="$10">
			</label>
		</div>
	</fieldset>


</div> <!-- only here for the style guide - should not be used on the website -->
```


## In a grid

With a `f-text-input` field

```
<div class="kalei-background-white"> <!-- only here for the style guide - should not be used on the website -->

<section class="f-row f-row_12">
	<div class="f-row__cell-8 f-row__cell-mobile-2"><p>8 cell</p></div>
	<div class="f-row__cell-4 f-row__cell-mobile_push_2 f-row__cell-mobile-8">
		<fieldset class="f-radio-group">
			<div class="f-column f-column_2 f-column_mobile_3">
				<div class="f-radio-group__element">
					<input id="rb10" radio-group="amount2" type="radio" name="rb" value="500">
					<label for="rb10">$500</label>
				</div>
				<div class="f-radio-group__element">
					<input id="rb11" radio-group="amount2" type="radio" name="rb" value="250">
					<label for="rb11">$250</label>
				</div>
				<div class="f-radio-group__element">
					<input id="rb12" radio-group="amount2" type="radio" name="rb" value="100">
					<label for="rb12">$100</label>
				</div>
				<div class="f-radio-group__element">
					<input id="rb13" radio-group="amount2" type="radio" name="rb" value="50">
					<label for="rb13">$50</label>
				</div>
				<div class="f-radio-group__element">
					<input id="rb14" radio-group="amount2" type="radio" name="rb" value="20">
					<label for="rb14">$20</label>
				</div>
				<div class="f-text-input f-radio-group__element">
					<input id="rb15" radio-group="amount2" type="radio" name="rb" value="20">
					<label for="rb15">
						<input class="f-text-input__text-field" type="number" pattern="[0-9]+" placeholder="$10">
					</label>
				</div>
			</div><!-- /f-column -->
		</fieldset>
	</div>
</section>

</div> <!-- only here for the style guide - should not be used on the website -->
```

## In a modal in a grid

With a `f-text-input` field

```
<div class="kalei-background-white"> <!-- only here for the style guide - should not be used on the website -->

<div class="f-modal f-modal_visible">
	<div class="f-modal__content">
		<div class="f-content">
			<form>
				<section class="f-row f-row_12">
					<div class="f-row__cell-8 f-row__cell-mobile-2"><p>8 cell</p></div>
					<div class="f-row__cell-4 f-row__cell-mobile_push_2 f-row__cell-mobile-8">
						<fieldset class="f-radio-group">
							<div class="f-column f-column_2 f-column_mobile_3">
								<div class="f-radio-group__element">
									<input id="rb16" radio-group="amount3" type="radio" name="rb" value="500">
									<label for="rb16">$500</label>
								</div>
								<div class="f-radio-group__element">
									<input id="rb17" radio-group="amount3" type="radio" name="rb" value="250">
									<label for="rb17">$250</label>
								</div>
								<div class="f-radio-group__element">
									<input id="rb18" radio-group="amount3" type="radio" name="rb" value="100">
									<label for="rb18">$100</label>
								</div>
								<div class="f-radio-group__element">
									<input id="rb19" radio-group="amount3" type="radio" name="rb" value="50">
									<label for="rb19">$50</label>
								</div>
								<div class="f-radio-group__element">
									<input id="rb20" radio-group="amount3" type="radio" name="rb" value="20">
									<label for="rb20">$20</label>
								</div>
								<div class="f-text-input f-radio-group__element">
									<input id="rb21" radio-group="amount3" type="radio" name="rb" value="20">
									<label for="rb21">
										<input class="f-text-input__text-field" type="number" pattern="[0-9]+" placeholder="$10">
									</label>
								</div>
							</div><!-- /f-column -->
						</fieldset>
					</div>
				</section>
			</form>
		</div><!-- /f-content -->
	</div><!-- /f-modal__content -->
</div><!-- /f-modal -->

</div> <!-- only here for the style guide - should not be used on the website -->
```
*/

@import "../variables";
.f-radio-group {
	margin: 0;
	padding: 0;
	border: none;
}

.f-radio-group legend {
	font-size: 1.8rem;
}

.f-radio-group__element {
	position: relative;

	margin: 0 0 .6rem 0;
}
.f-radio-group__element input[type="radio"] {
	visibility: hidden;

	height: 2.4rem;
	width: 2.4rem;

	margin: 0;

	line-height: 2.4rem;
	vertical-align: middle;

	cursor: pointer;
}
.f-radio-group__element label {
	display: inline-block;
	margin: 0;

	font-size: 1.6rem;
	line-height: 2.4rem;
	vertical-align: middle;

	cursor: pointer;
}
.f-radio-group__element input[type="radio"] ~ label::after {
	position: absolute;
	top: 0;
	left: 0;

	height: 2.4rem;
	width: 2.4rem;

	border: solid 0.2rem var(--color-black);
	border-radius: 50%;

	content: "";
}
.f-radio-group__element input[type="radio"]:checked ~ label::before {
	position: absolute;
	top: 0;
	left: 0;

	height: 1rem;
	width: 1rem;

	border-radius: 50%;
	background-color: var(--color-red);

	transform: translate(calc((2.4rem - 1rem) / 2), calc((2.4rem - 1rem) / 2));

	content: "";
}
.f-radio-group__element .f-text-input__text-field {
	display: inline-block;
	
	width: calc(100% - .4rem); /* KLUDGE: .4rem = magic number */
	
	vertical-align: middle;
	
	-moz-appearance: textfield; /* KLUDGE: remove controls from Firefox */
}
/*
	KLUDGE: remove controls from Safari and Chrome
	by styling ::-webkit-inner-spin-button and ::-webkit-outer-spin-button
*/
.f-radio-group__element .f-text-input__text-field::-webkit-inner-spin-button, 
.f-radio-group__element .f-text-input__text-field::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}
.f-text-input.f-radio-group__element label {
	position: absolute;
	top: 0;
	left: 0;
	
	padding-left: 3.4rem;
}