/*
## Example 1
```
<section class="f-cloumn f-column_3 f-column_mobile_2">
        <div class="f-thumbnail-group">
            <img class="f-thumbnail-group__image" src="image/team1.jpg">
            <div class="f-thumbnail-group__card">
                <h2 class="f-thumbnail-group__heading">Esther K</h2>
                <p class="f-thumbnail-group__subheading">Board member</p>
                <hr class="f-thumbnail-group__byline">
                <p class="f-thumbnail-group__text">
                This is Esther. She is a good activist. she does lots of stuff
                drink beer, smoke weed, fuck shit up and kick nazi butt. She did
                a lot of work for student unions, both on high school level and university.
                she used to be a social democrat (but we don'te talk a lot about that')
                but is now in a really healthy transition of becomming a militant anarchist, 
                so watch out cops - you about to get fucked!
                </p>
            </div>
        </div>
  
        <div class="f-thumbnail-group">
            <img class="f-thumbnail-group__image" src="image/team1.jpg">
            <div class="f-thumbnail-group__card">
                <h2 class="f-thumbnail-group__heading">gdnjdni K</h2>
                <p class="f-thumbnail-group__subheading">Board member</p>
                <hr class="f-thumbnail-group__byline">
                <p class="f-thumbnail-group__text">
                This is Esther. She is a good activist. she does lots of stuff
                drink beer, smoke weed, fuck shit up and kick nazi butt. She did
                a lot of work for student unions, both on high school level and university.
                she used to be a social democrat (but we don'te talk a lot about that')
                but is now in a really healthy transition of becomming a militant anarchist, 
                so watch out cops - you about to get fucked!
                </p>
            </div>
        </div>
  
        <div class="f-thumbnail-group">
            <img class="f-thumbnail-group__image" src="image/team2.jpg">
            <div class="f-thumbnail-group__card">
                <h2 class="f-thumbnail-group__heading">Esther K</h2>
                <p class="f-thumbnail-group__subheading">Board member</p>
                <hr class="f-thumbnail-group__byline">
                <p class="f-thumbnail-group__text">
                This is Esther. She is a good activist. she does lots of stuff
                drink beer, smoke weed, fuck shit up and kick nazi butt. She did
                a lot of work for student unions, both on high school level and university.
                she used to be a social democrat (but we don'te talk a lot about that')
                but is now in a really healthy transition of becomming a militant anarchist, 
                so watch out cops - you about to get fucked!
                </p>
            </div>
        </div>
   
        <div class="f-thumbnail-group">
            <img class="f-thumbnail-group__image" src="image/team1.jpg">
            <div class="f-thumbnail-group__card">
                <h2 class="f-thumbnail-group__heading">Esther K</h2>
                <p class="f-thumbnail-group__subheading">Board member</p>
                <hr class="f-thumbnail-group__byline">
                <p class="f-thumbnail-group__text">
                This is Esther. She is a good activist. she does lots of stuff
                drink beer, smoke weed, fuck shit up and kick nazi butt. She did
                a lot of work for student unions, both on high school level and university.
                she used to be a social democrat (but we don'te talk a lot about that')
                but is now in a really healthy transition of becomming a militant anarchist, 
                so watch out cops - you about to get fucked!
                </p>
            </div>
        </div>
        <div class="f-thumbnail-group">
            <img class="f-thumbnail-group__image" src="image/team1.jpg">
            <div class="f-thumbnail-group__card">
                <h2 class="f-thumbnail-group__heading">Esther K</h2>
            </div>
        </div>
  
        <div class="f-thumbnail-group">
            <img class="f-thumbnail-group__image" src="image/team1.jpg">
            <div class="f-thumbnail-group__card">
                <h2 class="f-thumbnail-group__heading">Esther K</h2>
                <p class="f-thumbnail-group__subheading">Board member</p>
                <hr class="f-thumbnail-group__byline">
                <p class="f-thumbnail-group__text">
                This is Esther. She is a good activist. she does lots of stuff
                drink beer, smoke weed, fuck shit up and kick nazi butt. She did
                a lot of work for student unions, both on high school level and university.
                she used to be a social democrat (but we don'te talk a lot about that')
                but is now in a really healthy transition of becomming a militant anarchist, 
                so watch out cops - you about to get fucked!
                </p>
            </div>
        </div>

</section>
```

*/
@import "../variables";

.f-thumbnail-group {
    position: relative;
    
    margin-bottom: var(--gutter-width);

}

.f-thumbnail-group__card {
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%; 
  
  padding: 2rem;
  
  
  background: var(--color-white-transparent, hsla(0, 0%, 100%, 0.8));

  transition: all 250ms ease;

  opacity: 0;
}

.f-thumbnail-group:hover .f-thumbnail-group__card {

     opacity: 1;
}

.f-thumbnail-group__image {
  width: 100%;
  max-width: 100%;
}

.f-thumbnail-group__heading {

  margin-bottom: 1rem;  
    
  color: var(--color-black);
  font-size: 2rem;
  line-height: 0.2rem;   
}

.f-thumbnail-group__subheading {
    margin-top: 0;  
   
    font-size: 1.2rem; 
    font-style: normal;  
}


.f-thumbnail-group__byline {
    height: 3px; 
    
    color: var(--color-red);
    
    background-color: var(--color-red);
}

.f-thumbnail-group__text {

  color: var(--color-black);
  font-size: 1.2rem;
  line-height: 1.7rem;
}

