/*

Big thumbnails! 

Not at all done, so do not review just yet. 

To do:
- Progress bar need styling
- Margins need to work
- The .js data element needs to be there
- Cleanup, tests, etc. 

<pre>
BLOCK f-project-thumbnail
    ELEMENT f-project-thumbnail__image
    ELEMENT f-project-thumbnail__image-text (TODO: This is for text on top of picture)
    ELEMENT f-project-thumbnail__info (This is all informative content - so everything minus the image)
    ELEMENT f-project-thumbnail__content (This is all content for the specific campaign - minus the 'data' (__progress))
    ELEMENT f-project-thumbnail__heading (1-2 lines but same height, flexbox centered <-- oh, didn't do that)
    ELEMENT f-project-thumbnail__byline (The 'sender')
    ELEMENT f-project-thumbnail__text 
    ELEMENT f-project-thumbnail__progress
</pre>


# First edition, cloned from mini and not done yet
```
		<div class="f-project-thumbnail">
			<div class="f-row f-row_6"> 
				<div class="f-row__cell-2">
					<div class="f-project-thumbnail__content">
						<h2 class="f-left-heading f-project-thumbnail__heading">Project Rebuild Bobane!</h2>
						<h3 class="f-project-thumbnail__byline">Out of Africa!</h3>
						<p class="f-project-thumbnail__text">
						We are back with another crowdfundingcampain - this one is going to succed! We wish to finish the rebuild-process, and you can help us. 
						</p>
					</div>
				</div>
				<div class="f-row__cell-4">
					<figure>
						<img class="f-project-thumbnail__image" src="image/12t.jpg"</img>
					</figure>
				</div>
			</div>
			<div class="f-row f-row_6"> 
				<section class="f-row__cell">
					<div class="f-progress" data-value="38">
						<div class="f-progress__bar">
							<div style="width: 38%;" class="f-progress__value"></div>
						</div>
					</div>
				</section>
			</div>
		</div>
```
*/


@import "../variables";


.f-project-thumbnail {
/*	min-height: 35.2rem;*/
	margin: 0 3.6rem 3.0rem 0;

	background-color: var(--color-white);
}


.f-project-thumbnail__image {
	height: 22.4rem;
	width: 100%;
	margin: 0 0 0 0;
	margin-bottom: 1rem;
	
/*	object-fit: cover;
	object-position: 50% 50%;*/

	cursor: pointer;
	filter: grayscale(100%);
}

/*This makes sure the grayscale filter won't be on mobile:*/
@media screen and (--viewport-mobile) {
	.f-project-thumbnail__image {
		filter: none;
	}
}

.f-project-thumbnail__content {
	height: 26rem; /*Set's the height of the whole content area. For longer thumbnails, this is the one.*/
	margin-top: 0rem;
	mask-image: linear-gradient(top, rgba(0, 0, 0, 1) 69%, rgba(0, 0, 0, 0) 96%); 
	mask: linear-gradient(top, rgba(0, 0, 0, 1) 69%, rgba(0, 0, 0, 0) 96%); 

	/*
	Doesn't work in FIREFOX. I think we need a .svg filter for it to work in firefox. I'm out of my legue here.
	https://developer.mozilla.org/en-US/docs/Web/CSS/mask
	*/
}

.f-project-thumbnail__image:hover {
	filter: grayscale(0%);
	transition: .3s ease-in-out;
}

.f-project-thumbnail__info {
	margin: 0 3.4rem 0.76rem 0;
}

.f-project-thumbnail__image-text { /*Broken code - can't fix it -Karl*/
    position: absolute;

    margin: 0 0 0 0;

	color: var(--color-white-transparent, hsla(0, 0%, 100%, 0.8));
	font-size: 3.0rem;
}

.f-project-thumbnail__image-filter {
	position: relative;

	height: 16rem;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;

    background: var(--color-white-transparent, hsla(0, 0%, 100%, 0.8));

	filter: blur(2px);
}


.f-project-thumbnail__heading {
	display: inline-flex;

	margin-left: 0rem !important;
/*
	margin: 0 0 0.4rem -var(--gutter-width);*/
	padding: .68rem 1.0rem .86rem calc(var(--gutter-width)*2); 
	
	color: var(--color-white);
	font-size: 1.5rem;
	font-weight: bold;

	background-color: var(--color-black);
}

.f-project-thumbnail__byline {
	margin: 0 0 0 3.4rem;

	color: var(--color-grey);
	font-size: 1.2rem;
	font-weight: bold;
}

.f-project-thumbnail__text {
	display: block;

	margin: 1.08rem 0 0 3.4rem;

	color: var(--color-grey);
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.5rem;

	overflow: hidden;
}

/*.f-project-thumbnail__progress {
	margin-left: 3.4rem;
}

.f-project-thumbnail__progress__bar, .f-project-thumbnail__progress__value {
	height: 1rem;
}

.f-project-thumbnail__progress__bar {
	margin-bottom: 0.5rem;

	background-color: var(--color-grey);
}

.f-project-thumbnail__progress__value {
	width: 100%;

	background-color: var(--color-red);

	transition: width 1s ease 260ms;
	will-change: width;
}

.f-project-thumbnail__progress__data {
	display: flex;

	flex-direction: row;
  	justify-content: space-between;
	
	font-size: 1rem;

	white-space: nowrap;
}

.f-project-thumbnail__progress__data-element {
	margin: 0;

  	color: var(--color-grey);
  	font-weight: normal;
  	line-height: 2.2rem;
}
.f-project-thumbnail__progress__data-element span {
  	color: var(--color-grey-dark);
  	font-weight: bold;
}
*/
