/*
Our logo.

```
<h2 class="f-branding">Fire<span>fund</span></h2>
```

Our logo displayed in the footer with [f-sitemap](#/style/blocks/f-sitemap.css).
```
<h2 class="f-branding f-branding_sitemap">Fire<span>fund</span></h2>
```
*/

:root {/*--color-white-transparent: hsla(0, 0%, 100%, 5);*/
}

.f-branding {
	margin: 0;

	color: hsla(0, 0%, 100%, 1);
	font-size: 65.6px;
	font-size: 4.1rem;
	line-height: 65.6px;
	line-height: 4.1rem;
 	font-weight: bold;
	text-transform: uppercase;
}

.f-branding_sitemap {
	margin-top: 0px;
	margin-top: 0rem;
	margin-bottom: 0px;
	margin-bottom: 0rem;
	font-size: 32px;
	font-size: 2rem;	
}