/*
Organize buttion
pr. 2.0 placed on index (in f.whitecard) and on HowItWork (in f.content).

<pre>
BLOCK f-button-organize
	ELEMENT f-button-organize_now (hopefully not needed)
</pre>


```
<div class="f-white-card">

<!-- only here for the style guide - should not be used on the website -->

<!-- this should be used on the website -->
<button class="f-button-organize">I'm definitely going to press this huge button!</button>
<!-- this should be used on the website -->

<h2 class="f-one-liner_center"> I know. That button is more tasty than a Big Tasty fresh out of old McDonald. That's why you are going to click it. Bitch.</h2>
</div> <!-- only here for the style guide - should not be used on the website -->
```
*/

.f-button-organize {
	position: relative;
	width: 100%;
	top: 0;
	padding: 35.2px 0 36.8px 0;
	padding: 2.2rem 0 2.3rem 0;

	color: hsla(0, 0%, 0%, 1);
	font-size: 38.4px;
	font-size: 2.4rem;

	border: 3px solid hsla(0, 0%, 0%, 1);
	border-radius: 0.8rem;
    background-color: hsla(0, 0%, 100%, 1);
	box-shadow: 0 0rem 0 hsla(0, 0%, 0%, 1), inset 0 0rem 0 hsla(0, 0%, 0%, 1);

	-webkit-transition-property: box-shadow, top;

	transition-property: box-shadow, top;
	-webkit-transition-duration: 100ms;
	        transition-duration: 100ms;
	-webkit-transition-timing-function: linear;
	        transition-timing-function: linear;

    outline: 0 none;
}

.f-button-organize::-moz-focus-inner {
	border: 0; /*KLUDGE: remove outline in Firefox */
}

.f-button-organize:hover {
	box-shadow: 0 .3rem 0 hsla(0, 0%, 0%, 1), inset 0 -.4rem 0 hsla(0, 0%, 0%, 1);
}
.f-button-organize:active {
	top: 4.8px;
	top: .3rem;
	box-shadow: 0 0rem 0 hsla(0, 0%, 0%, 1), inset 0 -.4rem 0 hsla(0, 0%, 0%, 1);
}

.f-button-organize::first-letter {
	text-transform: uppercase;
}