/*
## Buttons!

Right now we're exploring different options.
So it's very much a work in proces.

I now exactly what it's supposed to look like, but I can't make it work.

<pre>
BLOCK f-button
		MODIFIER f-button_default
		MODIFIER f-button_submit
		ELEMENT f-button__donate
		MODIFIER f-button__donate_A
		MODIFIER f-button__donate_B
		ELEMENT f-button__organize
		~MODIFIER f-button__organize_now~
		ELEMENT f-button__share
</pre>

## f-button
```
<div class="kalei-background-white"><!-- only here for the style guide - should not be used on the website -->

<!-- this should be used on the website -->
	<button class="f-button">encrypt</button>
	<button class="f-button">reset</button>
<!-- this should be used on the website -->

</div><!-- only here for the style guide - should not be used on the website -->
```
*/

.f-button {
	position: relative;
	top: 0;
	min-width: 262.4px;
	min-width: 16.4rem;
	margin: 0 48px 51.2px 0;
	margin: 0 3rem 3.2rem 0;
	padding: 0; /*KLUDGE: padding set to 0 to avoid text moving while animating in Firefox */

	color: black;

	color: hsla(0, 0%, 0%, 1);
	font-size: 40px;
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;

	background-color: hsla(0, 0%, 100%, 1);
	border: 4.8px solid hsla(0, 0%, 0%, 1);
	border: .3rem solid hsla(0, 0%, 0%, 1);
	border-radius: 0.5rem;
	box-shadow: 0 0rem 0 hsla(0, 0%, 0%, 1), inset 0 0rem 0 hsla(0, 0%, 0%, 1);

	-webkit-transition-property: box-shadow, top;

	transition-property: box-shadow, top;
	-webkit-transition-duration: 100ms;
	        transition-duration: 100ms;
	-webkit-transition-timing-function: linear;
	        transition-timing-function: linear;

	cursor: pointer;
	outline: 0 none;
}
.f-button::-moz-focus-inner {
	border: 0; /*KLUDGE: remove outline in Firefox */
}

.f-button:hover {
	box-shadow: 0 .3rem 0 hsla(0, 0%, 0%, 1), inset 0 -.4rem 0 hsla(0, 0%, 0%, 1);
}
.f-button:active {
	top: 4.8px;
	top: .3rem;
	box-shadow: 0 0rem 0 hsla(0, 0%, 0%, 1), inset 0 -.4rem 0 hsla(0, 0%, 0%, 1);
}

/*
## Button with icon
```
<div class="kalei-background-white"> <!-- only here for the style guide - should not be used on the website -->

<!-- this should be used on the website -->
<button class="f-button f-button_icon f-icon-twitter">twitter</button>
<button class="f-button f-button_icon f-icon-facebook">facebook</button>
<button class="f-button f-button_icon f-icon-youtube">youtube</button>
<button class="f-button f-button_icon f-icon-reddit">reddit</button>
<button class="f-button f-button_icon f-icon-home">home</button>
<button class="f-button f-button_icon f-icon-twitter">twitter</button>
<button class="f-button f-button_icon f-icon-facebook">facebook</button>
<button class="f-button f-button_icon f-icon-youtube">youtube</button>
<button class="f-button f-button_icon f-icon-reddit">reddit</button>
<button class="f-button f-button_icon f-icon-home">home</button>
<button class="f-button">No icon</button>
<!-- this should be used on the website -->

</div>
```
*/
.f-button_icon {
	padding: 0 38.4px 0 64px;
	padding: 0 2.4rem 0 4rem;
}
.f-button_icon::before {
	position: absolute;

	-webkit-transform: translateX(-3.1rem);

	        transform: translateX(-3.1rem);
}
.f-button_icon.f-icon-youtube::before {
	-webkit-transform: translate(-3.1rem, 0.3rem);
	        transform: translate(-3.1rem, 0.3rem);
}
.f-button_icon.f-icon-facebook::before {
	font-size: 32px;
	font-size: 2rem;

	-webkit-transform: translate(-2.6rem, 0.4rem);

	        transform: translate(-2.6rem, 0.4rem);
}
.f-button_icon.f-icon-reddit::before {
	-webkit-transform: translate(-3.6rem, 0.1rem);
	        transform: translate(-3.6rem, 0.1rem);
}
.f-button_icon.f-icon-home::before {
	-webkit-transform: translate(-3.7rem, 0.2rem);
	        transform: translate(-3.7rem, 0.2rem);
}
