
/*

A huge centered heading-text element that spans 100% of its container. 

```

<h1 class="f-huge-heading">
How does it work?
</h1>


```
*/

/*
### Variables
You can't see them here - look in `styleguide/styles/_variables.css`
*/

:root {
	/*--animation-parameters: 1.3s ease-in-out 3s;*/
}

.f-huge-heading {
	text-align: center;
	background-color: hsla(0, 0%, 100%, 1); /*Only for testing*/
	font-size: 99.2px;
	font-size: 6.2rem;
}