/*
A bullet list or number list. (About Who-01, Project-01)
BLOCK f-list

```
<ul class="f-list" style="color: white">
	<li>The unordered one!</li>
</ul>

<ol class="f-list" style="color: white">
	<li>The ordered one!</li>
</ol> 


```
*/

.f-list {
	list-style-type: circle;
}

.f-list li {
/*	color: var(--color-red, hsla(1, 73.7%, 38.8%, 1)); 
*/	list-style: none;
}

.f-list li:before {
	color: hsla(1, 73.7%, 38.8%, 1);
	content: "\2022"; /* /2022 is the numerical unicode for &bull; */
	font-size: 60.8px;
	font-size: 3.8rem; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
	padding-right: 4px;
	padding-right: .25rem; /* give the bullet some padding from the text Make sure to use em*/
	position: relative;
	top: 1.6px;
	top: .1rem; /* set the vertical position of the bullet if necessary. Make sure to use em or % */
}

/*.f-list span {
	color: var(--color-grey-dark, hsla(0, 0%, 20%, 1));
}*/

/*
From old FIREFUND*/

/**
 */

/*.f-list {
  margin: .96rem 0 0;
  padding-left: 1.3rem;

  font-weight: lighter;
  font-size: 1.4rem;
}
.f-list--li {
  padding-left: 0.7rem;

  color: var(--color-red);
  line-height: calc(1.12rem + 1.4rem);
}
.f-list--li-span {
  color: var(--color-grey-dark);
}*/

/* exeption(s) */

/*figure + .list {}*/

