/*
A bullet list or number list. (About Who-01, Project-01)
BLOCK f-list

```
<ul class="f-list">
	<li><span>The unordered one!</span></li>
</ul>

<ol class="f-list">
	<li><span>The ordered one!</span></li>
</ol> 


```
*/

/*
### Variables
You can't see them here - look in `styles/variables.css`
*/

/* Variables */

:root {/*--animation-parameters: 1.3s ease-in-out 3s;*/

}

.f-list {
	list-style-type: circle;
	color: hsla(1, 73.7%, 38.8%, 1);
	background-color: yellow;

}

.f-list li {
	color: hsla(1, 73.7%, 38.8%, 1);
}

.f-list ul {
	color: hsla(1, 73.7%, 38.8%, 1);
}

.f-list ol li {
	color: hsla(1, 73.7%, 38.8%, 1);
}

.f-list ul li {
	color: hsla(1, 73.7%, 38.8%, 1);
}

.f-list span {
	color: hsla(0, 0%, 20%, 1);
}


/*
From old FIREFUND*/

/**
 */
 
/*.f-list {
  margin: .96rem 0 0;
  padding-left: 1.3rem;

  font-weight: lighter;
  font-size: 1.4rem;
}
.f-list--li {
  padding-left: 0.7rem;

  color: var(--color-red);
  line-height: calc(1.12rem + 1.4rem);
}
.f-list--li-span {
  color: var(--color-grey-dark);
}*/

/* exeption(s) */
/*figure + .list {}*/

