/*
Site navigation links.

```
<div class="kalei-show-margin">
<div class="f-navigation">
	<a href="#" class="f-navigation__link">What and how</a>
	<a href="#" class="f-navigation__link">About</a>
</div>
</div>
```
*/

.f-navigation {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.f-navigation__link {
	margin: 0 10%;

	color: hsla(0, 0%, 84.7%, 1);

	color: hsla(0, 0%, 84.7%, 1);
	font-size: 28.8px;
	font-size: 1.8rem;
	font-weight: bold;
	text-decoration: none;
	line-height: 76.8px;
	line-height: 4.8rem;

	cursor: pointer;
	-webkit-transition: color 260ms ease-out;
	transition: color 260ms ease-out;
}
.f-navigation__link:hover {
	color: hsla(0, 0%, 100%, 1);
	color: hsla(0, 0%, 100%, 1);
}
