/*

With a smaller font text under.


<pre>
BLOCK f-postpay-heading
	ELEMENT f-postpay-heading__sub
    ELEMENT f-postpay-heading__highlight
</pre>

## Postpay-heading
```
<h1 class="f-postpay-heading">thank you</h1>
<h1 class="f-postpay-heading f-postpay-heading__sub">We have raised <span>$ 50022</span> so far!</h1>

```
*/

.f-postpay-heading {

	margin: 115.2px 0 -24px 0;
	margin: 7.2rem 0 -1.5rem 0;
	font-size: 163.2px;
	font-size: 10.2rem;
	color: hsla(0, 0%, 100%, 1);
	text-transform: uppercase;
}

.f-postpay-heading__sub {
	margin: 0 0 105.6px 0;
	margin: 0 0 6.6rem 0;
	font-size: 89.6px;
	font-size: 5.6rem;
	text-transform: none;
}