/*

A heading with the background reaching the right side of its container,
if the container has a `--gutter-width` padding.
If the container doesn't have a `--gutter-width` padding, then the heading
will *leak* out.
<pre>
`BLOCK f-right-heading`
<pre>

## Container with padding
```
<div class="kalei-background-white"><!-- only here for the style guide - should not be used on the website -->
	<div style="padding: var(--gutter-width, 3.4rem);">

<!-- this should be used on the website -->
	<h1 class="f-right-heading">About the FUCK</h1>
<!-- this should be used on the website -->

	</div> <!-- only here for the style guide - should not be used on the website -->
</div>
```

## Leaking out of container
```
<div class="kalei-background-white"><!-- only here for the style guide - should not be used on the website -->

<!-- this should be used on the website -->
	<h1 class="f-right-heading">About the FUCK</h1>
<!-- this should be used on the website -->

</div><!-- only here for the style guide - should not be used on the website -->
```
*/

.f-right-heading {
	margin: 0 -54.4px 44.8px 0;
	margin: 0 -3.4rem 2.8rem 0;
	padding: 12.8px 54.4px 12.8px 30.88px;
	padding: .8rem 3.4rem .8rem 1.93rem; 
	
	color: hsla(0, 0%, 100%, 1);
	font-size: 44.8px;
	font-size: 2.8rem;

	background-color: hsla(0, 0%, 0%, 1);
}



