/*

From the footer. 

`BLOCK f-signup`
`    MODIFIER f-signup_error`
`    ELEMENT f-signup__label`
`    ELEMENT f-signup__feedback-text`
`    ELEMENT f-signup__input`
`    ELEMENT f-signup__button`

## Default:
```
<section class="f-signup">
	<label class="f-signup__label">Sign up for news:
		<input class="f-signup__input" type="text" placeholder=" mail@radical.rev"></input>
	<label>
	<button class="f-signup__button">SUBMIT</button>
</section>

```

## Error:
```
<section class="f-signup f-signup_error">
	<label class="f-signup__label">Sign up for news:
		<input class="f-signup__input" type="text" placeholder=" mail@radical.rev"></input>
	<label>
	<button class="f-signup__button">SUBMIT</button>
</section>

```

## Success:
```
<section class="f-signup f-signup_success">
	<label class="f-signup__label_error">Sorry I fuck you life!</label>
	<label class="f-signup__label">Sign up for news:
		<input class="f-signup__input" type="text" placeholder=" mail@radical.rev"></input>
	<label>
	<button class="f-signup__button">SUBMIT</button>
</section>

```
*/

.f-signup {
	margin-bottom: -8px;
	margin-bottom: -0.5rem;

	background-color: hsla(0, 0%, 0%, 1);
	outline-color: hsla(1, 73.7%, 38.8%, 1);  
	color: hsla(0, 0%, 100%, 1);
	font-size: 27.2px;
	font-size: 1.7rem;
	font-weight: lighter;
}

.f-signup__input {
	-webkit-transition: all 250ms ease-in;
	transition: all 250ms ease-in;
}
.f-signup_error .f-signup__input, .f-signup_error .f-signup__label {
	display: block;

	color: hsla(1, 73.7%, 38.8%, 1);
}

.f-signup__label {
	display: inline-block;
}
.f-signup__label_error {
	display: none;
}
.f-signup__feedback-text {
}

.f-signup__input {
	border: 2px solid hsla(0, 0%, 100%, 1);
	width: 300.8px;
	width: 18.8rem;
	height: 44.8px;
	height: 2.8rem;

	color: hsla(0, 0%, 100%, 1);
	background-color: hsla(0, 0%, 0%, 1);
	font-weight: lighter;
	font-size: 19.2px;
	font-size: 1.2rem;

	outline: none;
}

.f-signup__input:placeholder-shown {
	font-style: italic;
}

.f-signup__button {
	margin-left: 16px;
	margin-left: 1rem;
	border: 2px solid hsla(1, 73.7%, 38.8%, 1);
	background-color: hsla(1, 73.7%, 38.8%, 1);
	color: hsla(0, 0%, 0%, 1);
	font-size: 27.2px;
	font-size: 1.7rem;
	font-weight: bold;
	text-transform: uppercase;

	outline: none;
}

.f-signup__button:hover {
	border: 2px solid hsla(0, 0%, 0%, 1);

	box-shadow: none;
}

.f-signup__button:focus {
	border: 2px solid hsla(1, 73.7%, 38.8%, 1);

	background: hsla(0, 0%, 0%, 1);
	color: hsla(0, 0%, 100%, 1);
}

