/*
standard heading and text for bigger text blogs.

## EXAMPLE 1
```
<div class="kalei-background-white"> <!-- only here for the style guide - should not be used on the website -->


    <section class"f-text">

        <h2 class="f-text__heading">Heading explaining what the text will be about</h2>
        
        <p class="f-text__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, tenetur excepturi et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, tenetur excepturi et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, tenetur excepturi et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, tenetur excepturi et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
        </p>

        <p class="f-text__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, tenetur excepturi et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, tenetur excepturi et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, tenetur excepturi et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, tenetur excepturi et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
        </p>
        
    </section>

</div>
```
## Example 2 - with links
```
    <div class="kalei-background-white"> <!-- only here for the style guide - should not be used on the website -->

    <section class"f-text">
        <h2 class="f-text__heading">Heading explaining what the text will be about</h2>

        <p class="f-text__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, tenetur excepturi et repellendus dolorem
            necessitatibus corporis fuga? <a href"">Dolorem quasi</a> earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, tenetur excepturi et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
            Lorem ipsum dolor sit amet, <a href"">consectetur adipisicing</a> elit.
            Nulla perspiciatis, atque id, tenetur excepturi et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, tenetur <a href"">excepturi</a> et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
        </p>

        <p class="f-text__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, <a href"">tenetur excepturi</a> et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, <a href"">tenetur excepturi</a> et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
            <a href="">Lorem ipsum dolor</a> sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, tenetur excepturi et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque voluptate fugiat.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nulla perspiciatis, atque id, tenetur excepturi et repellendus dolorem
            necessitatibus corporis fuga? Dolorem quasi earum omnis nam obcaecati
            autem doloremque <a href="#">voluptate fugiat.</a>
        </p>
    </section>

</div>
```
*/

.f-text {}

.f-text__heading {
    margin-top: 0px;
    margin-top: 0rem;
    margin-bottom: 10.4px;
    margin-bottom: 0.65rem;

    color: hsla(0, 0%, 20%, 1);
    font-weight: normal;
    font-size: 32px;
    font-size: 2rem;   
}

.f-text__text {
    margin-top: 0px;
    margin-top: 0rem;
    margin-bottom: 43.2px;
    margin-bottom: 2.7rem;

    color: hsla(0, 0%, 20%, 1);
    font-weight: lighter;
    font-size: 22.4px;
    font-size: 1.4rem;
    line-height: 29.12px;
    line-height: 1.82rem;  
    text-rendering: optimizeLegibility;
}

.f-text__text a:hover {
  text-decoration: underline;
}