/*

Big thumbnails!

Not at all done, so do not review just yet.

To do:
- Progress bar need styling
- Margins need to work
- The .js data element needs to be there
- Cleanup, tests, etc.

<pre>
BLOCK f-project-thumbnail
    ELEMENT f-project-thumbnail__image
    	ELEMENT f-project-thumbnail__image-text (TODO: This is for text on top of picture)
    ELEMENT f-project-thumbnail__info (This is all informative content - so everything minus the image)
    ELEMENT f-project-thumbnail__content (This is all content for the specific campaign - minus the 'data' (__progress))
    ELEMENT f-project-thumbnail__heading (1-2 lines but same height, flexbox centered <-- oh, didn't do that)
    ELEMENT f-project-thumbnail__byline (The 'sender')
    ELEMENT f-project-thumbnail__text
		ELEMENT f-project-thumbnail__summary
    ELEMENT f-project-thumbnail__progress
</pre>


# First edition, cloned from mini and not done yet
```
		<div class="f-project-thumbnail">
			<div class="f-row f-row_6">
				<div class="f-row__cell-2">
					<div class="f-project-thumbnail__content">
						<h2 class="f-left-heading f-project-thumbnail__heading"><span>Project</span><br>Rebuild Kobanê</h2>
						<h3 class="f-project-thumbnail__byline">Out of Africa!</h3>
						<p class="f-project-thumbnail__text">
						We are back with another crowdfundingcampain - this one is going to succed! We wish to finish the rebuild-process, and you can help us.
						We are back with another crowdfundingcampain - this one is going to succed! We wish to finish the rebuild-process, and you can help us.
						We are back with another crowdfundingcampain - this one is going to succed! We wish to finish the rebuild-process, and you can help us.
						We are back with another crowdfundingcampain - this one is going to succed! We wish to finish the rebuild-process, and you can help us.
						We are back with another crowdfundingcampain - this one is going to succed! We wish to finish the rebuild-process, and you can help us.
						We are back with another crowdfundingcampain - this one is going to succed! We wish to finish the rebuild-process, and you can help us.
						We are back with another crowdfundingcampain - this one is going to succed! We wish to finish the rebuild-process, and you can help us.
						We are back with another crowdfundingcampain - this one is going to succed! We wish to finish the rebuild-process, and you can help us.
						We are back with another crowdfundingcampain - this one is going to succed! We wish to finish the rebuild-process, and you can help us.
						We are back with another crowdfundingcampain - this one is going to succed! We wish to finish the rebuild-process, and you can help us.
						We are back with another crowdfundingcampain - this one is going to succed! We wish to finish the rebuild-process, and you can help us.
						</p>
					</div>
					<div class="f-project-thumbnail__summary f-progress__data">
						<p class="f-progress__data-element f-progress-thumbnail__data-element">
							<span>38%</span> of $50,000 <span>22</span> days to go 
						</p>
						<p class="f-progress__data-element">
							<span>38%</span> of $50,000
						</p>
						<p class="f-progress__data-element">
							<span>$14,928</span> reached in total
						</p>
					</div>
				</div>
				<div class="f-row__cell-4">
					<figure class="f-project-thumbnail__image">
						<img src="image/12.jpg"</img>
					</figure>
				</div>
			</div>
			<div class="f-row f-row_6">
				<section class="f-row__cell">
					<div class="f-progress" data-value="38">
						<div class="f-project-thumbnail__progress f-progress__bar">
							<div style="width: 38%;" class="f-progress__value"></div>
						</div>
					</div>
				</section>
			</div>
		</div>
```
*/

@-webkit-keyframes odometer-movefastlast {
	0% {
		/*debugging: color: cyan;*/
		-webkit-transform: translateY(2rem);
		        transform: translateY(2rem);
	}
  5% {
		/*debugging: color: red;*/
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
	30% {
		/*debugging: color: red;*/
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  40% {
		/*debugging: color: green;*/
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  65% {
		/*debugging: color: green;*/
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  75% {
		/*debugging: color: saddlebrown;*/
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
	95% {
		/*debugging: color: saddlebrown;*/
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
  100% {
		/*debugging: color: navy;*/
    -webkit-transform: translateY(-6rem);
            transform: translateY(-6rem);
	}
}

@keyframes odometer-movefastlast {
	0% {
		/*debugging: color: cyan;*/
		-webkit-transform: translateY(2rem);
		        transform: translateY(2rem);
	}
  5% {
		/*debugging: color: red;*/
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
	30% {
		/*debugging: color: red;*/
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  40% {
		/*debugging: color: green;*/
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  65% {
		/*debugging: color: green;*/
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  75% {
		/*debugging: color: saddlebrown;*/
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
	95% {
		/*debugging: color: saddlebrown;*/
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
  100% {
		/*debugging: color: navy;*/
    -webkit-transform: translateY(-6rem);
            transform: translateY(-6rem);
	}
}

@-webkit-keyframes odometer {
	0% {
		/*color: cyan;*/
		-webkit-transform: translateY(2rem);
		        transform: translateY(2rem);
	}
  10% {
		/*color: red;*/
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
	30% {
		/*color: red;*/
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  40% {
		/*color: green;*/
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  60% {
		/*color: green;*/
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  70% {
		/*color: saddlebrown;*/
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
	90% {
		/*color: saddlebrown;*/
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
  100% {
		/*color: navy;*/
    -webkit-transform: translateY(-6rem);
            transform: translateY(-6rem);
  }
}

@keyframes odometer {
	0% {
		/*color: cyan;*/
		-webkit-transform: translateY(2rem);
		        transform: translateY(2rem);
	}
  10% {
		/*color: red;*/
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
	30% {
		/*color: red;*/
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  40% {
		/*color: green;*/
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  60% {
		/*color: green;*/
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  70% {
		/*color: saddlebrown;*/
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
	90% {
		/*color: saddlebrown;*/
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
  100% {
		/*color: navy;*/
    -webkit-transform: translateY(-6rem);
            transform: translateY(-6rem);
  }
}

.f-project-thumbnail {
	margin: 0 0 48px 0;
	margin: 0 0 3rem 0;
	padding-top: 28.8px;
	padding-top: 1.8rem;

	background-color: hsla(0, 0%, 100%, 1);
}

.f-project-thumbnail__content {
	margin: 0 0 16px;
	margin: 0 0 1rem;
	padding-left: 54.4px;
	padding-left: 3.4rem;
	/*padding-right: var(--gutter-width); change from design because we want more text */
	height: 320px;
	height: 20rem; /*Set's the height of the whole content area. For longer thumbnails, this is the one.*/

	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 69%, rgba(0, 0, 0, 0) 96%);

	        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 69%, rgba(0, 0, 0, 0) 96%);
	-webkit-mask: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 69%, rgba(0, 0, 0, 0) 96%);
	        mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 69%, rgba(0, 0, 0, 0) 96%);
	overflow: hidden;
}

.f-project-thumbnail__heading {
	display: block;
	margin-bottom: 9.6px;
	margin-bottom: 0.6rem;
	width: calc(100% + 3.4rem);
}

.f-project-thumbnail__byline {
	margin: 0 0 32px;
	margin: 0 0 2rem;

	color: hsla(0, 0%, 40%, 1);
	font-size: 19.2px;
	font-size: 1.2rem;
	font-weight: bold;
}

.f-project-thumbnail__text {
	display: block;

	margin: 0;

	color: hsla(0, 0%, 40%, 1);
	font-size: 19.2px;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 24px;
	line-height: 1.5rem;

	overflow: hidden;
}
.f-project-thumbnail__summary {
	position: absolute;
	/* display: flex is set on f-progress__data */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	clip: rect(0, 800px, 32px, 0);
	clip: rect(0, 50rem, 2rem, 0);
	height: 32px;
	height: 2rem;
	margin-left: 54.4px;
	margin-left: 3.4rem;

  color: hsla(0, 0%, 20%, 1);
  line-height: 1.2;	
}
.f-progress-thumbnail__data-element {
	 margin: 0;

  color: hsla(0, 0%, 20%, 1);
  line-height: 1.2;
	
  will-change: transform;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-name: odometer;
          animation-name: odometer;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}
.f-project-thumbnail__summary span {
	color: hsla(1, 73.7%, 38.8%, 1);
}

.f-project-thumbnail__image {
	margin: 0;

	cursor: pointer;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
}
.f-project-thumbnail__image img {
	height: 358.4px;
	height: 22.4rem;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: 50% 50%;
	   object-position: 50% 50%;
}
@media screen and (max-width: 640px) {
/*This makes sure the grayscale filter won't be on mobile:*/
	.f-project-thumbnail__image {
		-webkit-filter: none;
		        filter: none;
	}
}
.f-project-thumbnail__image:hover {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');
	-webkit-filter: grayscale(0%);
	        filter: grayscale(0%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.f-project-thumbnail__image-text {
	/*
	.f-project-thumbnail__image-filter {
	position: relative;
	height: 16rem;
	
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;

  background: var(--color-white-transparent, hsla(0, 0%, 100%, 0.8));

	filter: blur(2px);
}*/
	/*TODO: https://github.com/Firefund/styleguide/issues/22 */
}

.f-project-thumbnail__image, .f-project-thumbnail__progress {
	margin-right: 54.4px;
	margin-right: 3.4rem;
}

.f-project-thumbnail__progress {
	margin-left: 54.4px;
	margin-left: 3.4rem;
	
	background-color: hsla(0, 0%, 84.7%, 1);
}