/*
### Variables
You can't see them here - look in `styleguide/styles/_variables.css`
*/


:root {
  /*--animation-parameters: 1.3s ease-in-out 3s;*/
  --color-red: hsla(1, 73.7%, 38.8%, 1);
  --color-black: hsla(0, 0%, 0%, 1);
  --color-black-transparent: hsla(0, 0%, 0%, 0.6);
  --color-transparent: hsla(0, 0%, 0%, 0);
  --color-white: hsla(0, 0%, 100%, 1);
  --color-grey: hsla(0, 0%, 40%, 1);
  --color-grey-dark: hsla(0, 0%, 20%, 1);
  --color-grey-light: hsla(0, 0%, 84.7%, 1);

  --grid-padding: 3.6rem;
}
@custom-media --viewport-mobile (max-width: 640px);
