/*
## The grid

Our grid system is lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore, rem vero, necessitatibus nesciunt, voluptatibus voluptate laboriosam esse natus porro nostrum odit aliquam ducimus neque. Voluptate rem eligendi earum mollitia.

<pre>
BLOCK f-grid												- establish a grid - default is six columns
MODIFIER f-grid_6										- an alias for f-grid e.g <span>class="f-grid"</span> = <span>class="f-grid f-grid_6"</span>
MODIFIER f-grid_12									- establish a 12 columns grid
MODIFIER f-grid_24									- establish a 12 columns grid
MODIFIER f-grid_debug								- show the outlines of your grid
  ELEMENT f-grid__column						- establish a column - default is 1/6 width column
  MODIFIER f-grid__column_1					- an alias for f-grid__column e.g <span>class="f-grid__column"</span> = <span>class="f-grid__column f-grid__column_1"</span>
  MODIFIER f-grid__column_2					- modify the column width
  MODIFIER f-grid__column_3					- modify the column width
  MODIFIER f-grid__column_4					- modify the column width
  MODIFIER f-grid__column_5					- modify the column width
  MODIFIER f-grid__column_6					- modify the column width
  MODIFIER f-grid__column_offset_1	- modify the column indentation
  MODIFIER f-grid__column_offset_2	- modify the column indentation
  MODIFIER f-grid__column_offset_3	- modify the column indentation
  MODIFIER f-grid__column_offset_4	- modify the column indentation
  MODIFIER f-grid__column_offset_5	- modify the column indentation
</pre>


### 6 grid with 2 elements
```
<div class="f-grid f-grid_debug" style="background-color:blue;">
  <div class="f-grid__column f-grid__column_3" style="background-color:lightblue;">1</div>
  <div class="f-grid__column f-grid__column_3" style="background-color:lightblue;">2</div>
</div>
```

### 6 grid with 3 elements
```
<div class="f-grid f-grid_debug">
  <div class="f-grid__column f-grid__column_1">1</div>
  <div class="f-grid__column f-grid__column_2">2</div>
  <div class="f-grid__column f-grid__column_3">3</div>
</div>
```

### 6 grid with 2 elements
```
<div class="f-grid f-grid_debug">
  <div class="f-grid__column f-grid__column_4">1</div>
  <div class="f-grid__column f-grid__column_2">2</div>
</div>
```
*/


@import "./variables";

.demo {
  padding: 0.1rem;
  border: 1px dotted hsla(240, 100%, 50%, .8);
  
  text-align: center;
  text-transform: uppercase;
  
  background-color: hsla(240, 100%, 25%, .1);
}


@lost gutter 3.6rem;

.f-row {
  lost-flex-container: row;
}
.f-row::after {
  lost-utility: clearfix;
}

.f-row__cell {
  lost-column: 1 flex;
}

.f-row_6 .f-row__cell_1 {
	lost-column: 1/6 flex;
}
.f-row_6 .f-row__cell_push_1 {
	lost-offset: -1/6;
}
.f-row_6 .f-row__cell_2 {
	lost-column: 2/6 flex;
}
.f-row_6 .f-row__cell_push_2 {
	lost-offset: -2/6;
}
.f-row_6 .f-row__cell_3 {
	lost-column: 3/6 flex;
}
.f-row_6 .f-row__cell_push_3 {
	lost-offset: -3/6;
}
.f-row_6 .f-row__cell_4 {
	lost-column: 4/6 flex;
}
.f-row_6 .f-row__cell_push_4 {
	lost-offset: -4/6;
}
.f-row_6 .f-row__cell_5 {
	lost-column: 5/6 flex;
}
.f-row_6 .f-row__cell_push_5 {
	lost-offset: -5/6;
}

 .f-row_12 .f-row__cell_1 {
	lost-column: 1/12 flex;
}
.f-row_12 .f-row__cell_push_1 {
	lost-offset: -1/12;
}
.f-row_12 .f-row__cell_2 {
	lost-column: 2/12 flex;
}
.f-row_12 .f-row__cell_push_2 {
	lost-offset: -2/12;
}
.f-row_12 .f-row__cell_3 {
	lost-column: 3/12 flex;
}
.f-row_12 .f-row__cell_push_3 {
	lost-offset: -3/12;
}
.f-row_12 .f-row__cell_4 {
	lost-column: 4/12 flex;
}
.f-row_12 .f-row__cell_push_4 {
	lost-offset: -4/12;
}
.f-row_12 .f-row__cell_5 {
	lost-column: 5/12 flex;
}
.f-row_12 .f-row__cell_push_5 {
	lost-offset: -5/12;
}
.f-row_12 .f-row__cell_6 {
	lost-column: 6/12 flex;
}
.f-row_12 .f-row__cell_push_6 {
	lost-offset: -6/12;
}
.f-row_12 .f-row__cell_7 {
	lost-column: 7/12 flex;
}
.f-row_12 .f-row__cell_push_7 {
	lost-offset: -7/12;
}
.f-row_12 .f-row__cell_8 {
	lost-column: 8/12 flex;
}
.f-row_12 .f-row__cell_push_8 {
	lost-offset: -8/12;
}
.f-row_12 .f-row__cell_9 {
	lost-column: 9/12 flex;
}
.f-row_12 .f-row__cell_push_9 {
	lost-offset: -9/12;
}
.f-row_12 .f-row__cell_10 {
	lost-column: 10/12 flex;
}
.f-row_12 .f-row__cell_push_10 {
	lost-offset: -10/12;
}
.f-row_12 .f-row__cell_11 {
	lost-column: 11/12 flex;
}
.f-row_12 .f-row__cell_push_11 {
	lost-offset: -11/12;
}

/*@lost gutter 1.8rem;*/
.f-row_24 .f-row__cell_1 {
	lost-column: 1/24 flex;
}
.f-row_24 .f-row__cell_push_1 {
	lost-offset: -1/24;
}
.f-row_24 .f-row__cell_2 {
	lost-column: 2/24 flex;
}
.f-row_24 .f-row__cell_push_2 {
	lost-offset: -2/24;
}
.f-row_24 .f-row__cell_3 {
	lost-column: 3/24 flex;
}
.f-row_24 .f-row__cell_push_3 {
	lost-offset: -3/24;
}
.f-row_24 .f-row__cell_4 {
	lost-column: 4/24 flex;
}
.f-row_24 .f-row__cell_push_4 {
	lost-offset: -4/24;
}
.f-row_24 .f-row__cell_5 {
	lost-column: 5/24 flex;
}
.f-row_24 .f-row__cell_push_5 {
	lost-offset: -5/24;
}
.f-row_24 .f-row__cell_6 {
	lost-column: 6/24 flex;
}
.f-row_24 .f-row__cell_push_6 {
	lost-offset: -6/24;
}
.f-row_24 .f-row__cell_7 {
	lost-column: 7/24 flex;
}
.f-row_24 .f-row__cell_push_7 {
	lost-offset: -7/24;
}
.f-row_24 .f-row__cell_8 {
	lost-column: 8/24 flex;
}
.f-row_24 .f-row__cell_push_8 {
	lost-offset: -8/24;
}
.f-row_24 .f-row__cell_9 {
	lost-column: 9/24 flex;
}
.f-row_24 .f-row__cell_push_9 {
	lost-offset: -9/24;
}
.f-row_24 .f-row__cell_10 {
	lost-column: 10/24 flex;
}
.f-row_24 .f-row__cell_push_10 {
	lost-offset: -10/24;
}
.f-row_24 .f-row__cell_11 {
	lost-column: 11/24 flex;
}
.f-row_24 .f-row__cell_push_11 {
	lost-offset: -11/24;
}
.f-row_24 .f-row__cell_12 {
	lost-column: 12/24 flex;
}
.f-row_24 .f-row__cell_push_12 {
	lost-offset: -12/24;
}
.f-row_24 .f-row__cell_13 {
	lost-column: 13/24 flex;
}
.f-row_24 .f-row__cell_push_13 {
	lost-offset: -13/24;
}
.f-row_24 .f-row__cell_14 {
	lost-column: 14/24 flex;
}
.f-row_24 .f-row__cell_push_14 {
	lost-offset: -14/24;
}
.f-row_24 .f-row__cell_15 {
	lost-column: 15/24 flex;
}
.f-row_24 .f-row__cell_push_15 {
	lost-offset: -15/24;
}
.f-row_24 .f-row__cell_16 {
	lost-column: 16/24 flex;
}
.f-row_24 .f-row__cell_push_16 {
	lost-offset: -16/24;
}
.f-row_24 .f-row__cell_17 {
	lost-column: 17/24 flex;
}
.f-row_24 .f-row__cell_push_17 {
	lost-offset: -17/24;
}
.f-row_24 .f-row__cell_18 {
	lost-column: 18/24 flex;
}
.f-row_24 .f-row__cell_push_18 {
	lost-offset: -18/24;
}
.f-row_24 .f-row__cell_19 {
	lost-column: 19/24 flex;
}
.f-row_24 .f-row__cell_push_19 {
	lost-offset: -19/24;
}
.f-row_24 .f-row__cell_20 {
	lost-column: 20/24 flex;
}
.f-row_24 .f-row__cell_push_20 {
	lost-offset: -20/24;
}
.f-row_24 .f-row__cell_21 {
	lost-column: 21/24 flex;
}
.f-row_24 .f-row__cell_push_21 {
	lost-offset: -21/24;
}
.f-row_24 .f-row__cell_22 {
	lost-column: 22/24 flex;
}
.f-row_24 .f-row__cell_push_22 {
	lost-offset: -22/24;
}
.f-row_24 .f-row__cell_23 {
	lost-column: 23/24 flex;
}
.f-row_24 .f-row__cell_push_23 {
	lost-offset: -23/24;
}

/*
.f-grid_debug {
  padding: 1rem;

  background-color: hsla(240.1, 100%, 50%, 0.5);
}
.f-grid_debug .f-grid__column {
  height: 3rem;

  text-align: center;
  font-size: 2rem;

  background-color:lightblue;
}

.f-grid_column, .f-grid__column_1 {
  grid-column: 1/6;
}

.f-grid__column_2 {
  grid-column: 2/6;
}
.f-grid__column_3 {
  grid-column: 3/6;
}
.f-grid__column_4 {
  grid-column: 4/6;
}
.f-grid__column_5 {
  grid-column: 5/6;
}
.f-grid__column_3:nth-child(1n+2) {
  margin-right: 0;
}
.f-grid__column_2:nth-child(1n+2) {
  margin-right: 0;
}
*/

/*
@lost gutter 3.6rem;

.grid {
  lost-column: 6/6;
  lost-utility: clearfix;
}

.grid_debug {
  border: 2px cyan solid;
}

.grid__column-1 { lost-column: 1/6 1; }
.grid__column-2 { lost-column: 2/6 2; }
.grid__column-3 { lost-column: 3/6 3; }
.grid__column-4 { lost-column: 4/6 4; }
.grid__column-5 { lost-column: 5/6 5; }
.grid__column-6 { lost-column: 6/6 6; }
.grid__column-offset-1 { lost-offset: -1/6; }
.grid__column-offset-2 { lost-offset: -2/6; }
.grid__column-offset-3 { lost-offset: -3/6; }
.grid__column-offset-4 { lost-offset: -4/6; }
.grid__column-offset-5 { lost-offset: -5/6; }
.grid__column-offset-6 { lost-offset: -6/6; }*/
/* mobile */
/*
@media screen and (max-width: 640px) {
  .grid__not-mobile { display: none; }

  .grid__mobile-column-1 { lost-column: 1/6; }
  .grid__mobile-column-2 { lost-column: 2/6; }
  .grid__mobile-column-3 { lost-column: 3/6; }
  .grid__mobile-column-4 { lost-column: 4/6; }
  .grid__mobile-column-5 { lost-column: 5/6; }
  .grid__mobile-column-6 { lost-column: 6/6; }
  .grid__mobile-column-offset-1 { lost-offset: -1/6; }
  .grid__mobile-column-offset-2 { lost-offset: -2/6; }
  .grid__mobile-column-offset-3 { lost-offset: -3/6; }
  .grid__mobile-column-offset-4 { lost-offset: -4/6; }
  .grid__mobile-column-offset-5 { lost-offset: -5/6; }
  .grid__mobile-column-offset-6 { lost-offset: -6/6; }
}*/
